{
  "presets": ["next/babel"],
  "plugins": [
    "emotion",
    "inline-dotenv",
    [
      "module-resolver",
      {
        "root": ["./src"]
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": ["emotion"],
      "presets": [
        [
          "next/babel",
          {
            "preset-env": {
              "modules": "commonjs"
            }
          }
        ]
      ]
    }
  }
}
