*~
*.tsv
*.zip
*.bak
*-bundle.js
*.txt.pt
*.pth
*.bin
.git
.buildconfig

home
workdir
shared

platform_config.js
secret_config.js

doc/doc-list.json
doc/fts.json
doc/thingpedia-api
views/doc_*.pug
!views/doc_base.pug
!views/doc_sidebar.pug
views/thingpedia_doc_index.pug

tests/embeddings

node_modules

yarn-error.log

.nyc_output
.coverage

.idea
