[submodule "shared"]
	path = shared
	url = https://github.com/Stanford-Mobisocial-IoT-Lab/thingengine-platform-shared.git
[submodule "instance/engine"]
	path = node_modules/thingengine-core
	url = https://github.com/Stanford-Mobisocial-IoT-Lab/thingengine-core.git
[submodule "node_modules/thingtalk"]
	path = node_modules/thingtalk
	url = https://github.com/Stanford-Mobisocial-IoT-Lab/ThingTalk.git
[submodule "node_modules/sabrina"]
	path = node_modules/sabrina
	url = https://github.com/Stanford-Mobisocial-IoT-Lab/Sabrina.git
[submodule "node_modules/thingpedia-discovery"]
	path = node_modules/thingpedia-discovery
	url = https://github.com/Stanford-Mobisocial-IoT-Lab/thingpedia-discovery.git
[submodule "node_modules/thingpedia"]
	path = node_modules/thingpedia
	url = https://github.com/Stanford-Mobisocial-IoT-Lab/thingpedia-api.git
