*~
*.tsv
*.zip
*.bak
home/

/platform_config.js
/secret_config.js
/public/cache
/public/brassau
/public/friendhub
/public/download/devices
/public/download/backgrounds
/public/download/icons

views/doc_*.pug

node_modules/

yarn-error.log

/.nyc_output
/coverage
