*~
platform_config.js
home/

node_modules/*/
!node_modules/sabrina
!node_modules/thingengine-core
!node_modules/thingpedia
!node_modules/thingpedia-builtins
!node_modules/thingpedia-client
!node_modules/thingpedia-discovery
!node_modules/thingtalk
!node_modules/transparent-rpc
