[Unit]
Description=Almond Cloud Web Frontend

[Service]
User=almond-cloud
WorkingDirectory=/srv/almond-cloud
ExecStart=/opt/almond-cloud/main.js run-frontend --port %I
CapabilityBoundingSet=
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target
