[Unit]
Description=Apply credit updates to Almond developer organizations

[Service]
User=almond-cloud
EnvironmentFile=/etc/sysconfig/almond-cloud
ExecStart=/usr/bin/node /opt/almond-cloud/scripts/apply-credits.js
Type=oneshot
RemainAfterExit=no
WorkingDirectory=/var/lib/almond-cloud
ProtectHome=true
ProtectSystem=full
