[Unit]
Description=Almond Automatic Training Service Daemon
Requires=almond-tokenizer.service
After=almond-tokenizer.service

[Service]
Type=simple
User=almond-training
WorkingDirectory=/var/lib/almond-cloud/training
ExecStart=/opt/almond-cloud/main.js run-training

[Install]
WantedBy=multi-user.target
