[Unit]
Description=Apply credit updates to Almond developer organizations

[Service]
User=almond-cloud
EnvironmentFile=/etc/sysconfig/almond-cloud
ExecStart=/opt/almond-cloud/main.js apply-credits
Type=oneshot
RemainAfterExit=no
WorkingDirectory=/var/lib/almond-cloud
ProtectHome=true
ProtectSystem=full
