[Unit]
Description=Almond Cloud Web Frontend

[Service]
User=almond-cloud
WorkingDirectory=/srv/almond-cloud
EnvironmentFile=/etc/sysconfig/almond-cloud
Environment=PORT=%I
ExecStart=/usr/bin/node /opt/almond-cloud/frontend.js
CapabilityBoundingSet=
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target
