[Unit]
Description=Almond Semantic Parser Service

[Service]
EnvironmentFile=/etc/sysconfig/almond-cloud
Environment=DECANLP_EMBEDDINGS=/var/lib/almond-cloud/embeddings
ExecStart=/opt/almond-cloud/main.js run-nlp
Type=simple
User=almond-nlp
WorkingDirectory=/var/lib/almond-cloud/nlp
StandardOutput=journal
StandardError=inherit
Restart=on-failure
ProtectHome=true
ProtectSystem=full

[Install]
WantedBy=multi-user.target

