[Unit]
Description=ThingEngine Cloud

[Service]
User=thingengine
WorkingDirectory=/srv/thingengine
EnvironmentFile=/etc/sysconfig/thingengine-cloud
ExecStartPre=/usr/bin/rm -f /srv/thingengine/control /srv/thingengine/direct
ExecStart=/usr/bin/node /opt/thingengine/almond/master.js --shard %I
SyslogIdentifier=thingengine-master-%I
CapabilityBoundingSet=CAP_SYS_ADMIN
KillMode=mixed
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
