[Unit]
Name=thingengine-cloud.service
Description=ThingEngine Cloud

[Service]
User=thingengine
WorkingDirectory=/srv/thingengine
ExecStart=/usr/bin/node /opt/thingengine/main.js
CapabilityBoundingSet=CAP_SYS_ADMIN
KillMode=mixed
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target
