@import '../styles/variables';
@import '../styles/mixins';

.navbar {
  background-color: $white;
  height: $navbar-height;
  @include std-shadow;

  // blurring behind the navbar
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  opacity: 0.95;

  a {
    color: $black;
  }
}

.nav-brand-link {
  text-decoration: none;
  color: black;
}

.right-nav-link {
  margin-right: 2em;
}
