@import 'node_modules/bootstrap/scss/functions';
// British palette https://flatuicolors.com/palette/gb
$blue: #00a8ff;
$dark-blue: #273c75;
$yellow: #fbc531;
$purple: #9c88ff;
$red: #e84118;
$green: #4cd137;
$gray-base: #08090b;
$white: #ffffff;
$black: #08090b;

$colors: (
  "blue": $blue,
  "indigo": $purple,
  "purple": $purple,
  "red": $red,
  "yellow": $yellow,
  "green": $green,
  "white": $white,
);

$theme-colors: (
  'primary': $blue,
  'success': $green,
  'danger': $red,
  'warning': $yellow,
);

$body-bg: #f5f6fa;

/* Fonts */
$font-family-sans-serif:  Inter, --apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif !default;

/* Navbar */
$navbar-default-color: $black;
$navbar-default-bg: $white;
