extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/index.css')

block page_name
  = _("About")

block content
  div.row
    div.col-lg-offset-2.col-lg-8

      section.about-section
        h3.about-title An Open Thing Platform
        div.about-title-line

        p Thingpedia, Almond and ThingEngine are part of the Open Thing Platform, a research project of
          | the 
          a(href='http://mobisocial.stanford.edu') Stanford Mobile and Social Computing Research Group
          | , a research team dedicated on the creating novel user experience,
          | system architecture, infrastructure and security protocols for the
          | open mobile internet.

        p Open Thing Platform is an open source implementation of a
          |  distributed IoT control hub and personal data store. The
          |  main goal of this project is to design an IoT system that
          |  gives users ownership over their own data; also our system
          |   aims to provide user-friendly interface that helps make use
          |  of one's own data. To this extent, we are designed as a
          |  distributed system and are able to run on a variety of
          |  devices, including shared cloud services, private cloud
          |  servers, private home servers such as the Raspberry Pi and
          |  even mobile phones, allowing the user the flexibility of
          |  choosing the storage solution he prefers.

        p ThingEngine is the workhorse in the Open Thing Platform, as
          | it is the place where the rules and the apps that are defined using
          | OTP technology are actually run.

        p This instance of ThingEngine also hosts the Thingpedia, the public repository of
          |  "things" that other components of the platform can refer to.
          |  It hosts the modules to access the things and the implementation
          |  of their communication protocol, it provides documentation for
          |  people buildings apps for OTP, and ultimately fosters a friendly
          |  open source community of makers and researchers in the field of
          |  IoT.

      section.about-section
        h3.about-title Getting ThingEngine
        div.about-title-line

        p ThingEngine comes in three form:
        ul
          li As a phone app, for Android. You can download it 
            a(href='http://web.stanford.edu/~gcampagn/misc/thingengine.apk') here
            | .
          li As an installable app for a home server. Binaries of ThingEngine Server
            |  for multiple operating systems and architectures are available 
            a(href='http://web.stanford.edu/~gcampagn/misc/') here
            | .
          li The web service you're looking at, which is provided free of charge
            |  to the research community.

          p ThingEngine is free software, released under the GPLv2 or later, to help
            |  build a community of developers and users around it.

      section#team
        h3.about-title Our Team
        div.about-title-line

        div.row
          div.col-md-8.col-md-offset-2
            div.team-profile-wrap
              div#team-profile-monica

              div.team-profile-text
                h4.profile-name Monica Lam
                p Monica Lam is a Professor in the Computer Science Department at Stanford University since 1988. She received a B.Sc. from University of British Columbia in 1980 and a Ph.D. in Computer Science from Carnegie Mellon University in 1987. She is the Faculty Director of the Stanford MobiSocial Computing Laboratory and a co-PI in the POMI (Programmable Open Mobile Internet) 2020 project, which is an NSF Expedition started in 2008.

        div.row#team-profile-second-row
          div.col-md-4
            div.team-profile-mid#team-profile-mid-giovanni
            div
              h6.team-profile-mid-text.profile-name Giovanni Campagna
              p.team-profile-mid-text.team-profile-mid-des CS PhD, platform backend development

          div.col-md-4
            div.team-profile-mid#team-profile-mid-rakesh
            div
              h6.team-profile-mid-text.profile-name Rakesh Ramesh
              p.team-profile-mid-text.team-profile-mid-des EE PhD, natural language frontend

          div.col-md-4
            div.team-profile-mid#team-profile-mid-silei
            div
              h6.team-profile-mid-text.profile-name Silei Xu
              p.team-profile-mid-text.team-profile-mid-des CS PhD, Android platform development

          div.col-md-4
            div.team-profile-mid#team-profile-mid-michael
            div
              h6.team-profile-mid-text.profile-name Michael Fischer
              p.team-profile-mid-text.team-profile-mid-des CS PhD, UX design

          div.row#team-profile-third-row

          small
            Previous members
            div.col-md-4
              div.team-profile-mid#team-profile-mid-jiwon
              div
                h6.team-profile-mid-text.profile-name Jiwon Seo
                p.team-profile-mid-text.team-profile-mid-des CS PhD, platform development

            div.col-md-4
              div.team-profile-mid#team-profile-mid-sadjad
              div
                h6.team-profile-mid-text.profile-name Sadjad Foluadi
                p.team-profile-mid-text.team-profile-mid-des CS PhD, Almond AI and platform development

            div.col-md-4
              div.team-profile-mid#team-profile-mid-reynis
              div
                h6.team-profile-mid-text.profile-name Reynis Vazquez
                p.team-profile-mid-text.team-profile-mid-des CS Junior, UX evaluation and Thingpedia development

        div.row
          div.col-sm-12
            p.text-center
              small Previous members of our team include Albert Chen, Zhiyang He, Jiaqi Xue and
                |  and Aashna Garg. We thank them for their valuable support.


