extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/index.css')

block page_name
  = _("About")

block content
  div.row
    div.col-lg-offset-2.col-lg-8

      section.about-section
        h3.about-title An Open Thing Platform
        div.about-title-line

        p Thingpedia and Almond are part of the Open Thing Platform, a research project of
          | the 
          a(href='http://mobisocial.stanford.edu') Stanford Mobile and Social Computing Research Group
          | , a research team dedicated on the creating novel user experience,
          | system architecture, infrastructure and security protocols for the
          | open mobile internet.

        p Open Thing Platform is an open source implementation of a
          |  distributed IoT control hub and personal data store. The
          |  main goal of this project is to design an IoT system that
          |  gives users ownership over their own data; also our system
          |   aims to provide user-friendly natural language interface that helps make use
          |  of one's own data.

        //p To this extent, we are designed as a
          |  distributed system and are able to run on a variety of
          |  devices, including shared cloud services, private cloud
          |  servers, private home servers such as the Raspberry Pi and
          |  even mobile phones, allowing the user the flexibility of
          |  choosing the storage solution he prefers.

        p Almond is the workhorse in the Open Thing Platform, as
          | it is the place where the rules and the apps that are defined using
          | OTP technology are actually run.

        p This instance of Almond also hosts the Thingpedia, the public repository of
          |  "things" that other components of the platform can refer to.
          |  It hosts the modules to access the things and the implementation
          |  of their communication protocol, it provides documentation for
          |  people buildings apps for OTP, and ultimately fosters a friendly
          |  open source community of makers and researchers in the field of
          |  IoT.

      section.about-section
        h3.about-title Getting Almond
        div.about-title-line

        p Almond comes in three form:
        ul
          li As a phone app, for Android. You can download it 
            a(href='https://play.google.com/store/apps/details?id=edu.stanford.thingengine.engine') on the Google Play Store
            | .
          li As an installable app for a home server. Binaries of Almond Server
            |  for multiple operating systems and architectures are available 
            a(href='http://web.stanford.edu/~gcampagn/misc/') here
            | .
          li The web service you're looking at, which is provided free of charge
            |  to the research community.

          p Almond is free software, released under the GPLv2 or later, to help
            |  build a community of developers and users around it.



