extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/thingpedia.css')

block page_name
  - stdlayout = false;
  = _("Administration")

block content
  div#page-body
    h1.hidden-xs.hidden-sm#page-title.dev-portal-title
      = _("Administration")

    if user.roles & 0x1
      div.container
        div.row
          div.col-xs-12
            if !omletAvailable
              div.alert.alert-warning(role='alert')
                p= _("The Omlet bridge is not yet configured. ")
                  a(href='/admin/omlet/setup').btn.btn-sm.btn-default= _("Configure it")
            else if !omletRunning
              div.alert.alert-warning(role='alert')
                p= _("The Omlet bridge is not running (it has crashed or it has been disabled).")

    div.sections
      section.divider
        div.container
          div.row
            div.col-xs-12
              ul
                if user.roles & 0x1
                  li
                    a(href='/admin/users') Users
                  li
                    a(href='/admin/organizations') Developer Organizations
                if WITH_THINGPEDIA === 'embedded'
                  li
                    a(href='/thingpedia/schemas') Thingpedia Types
                  li
                    a(href='/thingpedia/entities') Thingpedia Entities
                  li
                    a(href='/thingpedia/snapshots') Thingpedia Snapshots
                  li
                    a(href='/thingpedia/datasets') Thingpedia Datasets

      section.divider
        div.container
          div.row
            div.col-md-2
              form(action='/admin/users/kill/all', method='post')
                input(type='hidden',name='_csrf',value=csrfToken)
                button(type='submit').btn.btn-danger.btn-block= _("Kill all users")

            div.col-md-2
              form(action='/admin/blow-view-cache', method='post')
                input(type='hidden',name='_csrf',value=csrfToken)
                button(type='submit').btn.btn-default.btn-block= _("Clear view cache")