extends layout

block styles
  link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/thingpedia.css')

block page_name
  - stdlayout = false;
  = _("Administration")

block content
  div#page-body
    h1.hidden-xs.hidden-sm#page-title.dev-portal-title
      = _("Administration")

    div.sections
      section.divider
        div.container
          div.row
            div.col-xs-12
              ul
                if user.roles & 0x1
                  li
                    a(href='/admin/users') Users
                  li
                    a(href='/admin/organizations') Developer Organizations
                  li
                    a(href='/admin/blog') Blog Archive
                if WITH_THINGPEDIA === 'embedded'
                  if user.roles & 0x1
                    li
                      a(href='/admin/training') Natural Language Training
                  li
                    a(href='/admin/review-queue') Unreviewed Devices
                  li
                    a(href='/thingpedia/entities') Thingpedia Entities
                  li
                    a(href='/thingpedia/strings') Thingpedia String Datasets
                  li
                    a(href='/thingpedia/snapshots') Thingpedia Snapshots
                  li
                    a(href='/thingpedia/datasets') Thingpedia Datasets
                if user.roles & 0x1 && WITH_THINGPEDIA === 'embedded'
                  li
                    a(href='/mturk') MTurk Batches

      section.divider
        div.container
          div.row
            if user.roles & 0x1
              div.col-md-2
                form(action='/admin/users/kill/all', method='post')
                  input(type='hidden',name='_csrf',value=csrfToken)
                  button(type='submit').btn.btn-danger.btn-block= _("Kill all users")