extends layout

block page_name
  - index = true;
  | Enable App

block content
  div.jumbotron.text-center
    h1 You already enabled this app!

    p And it seems to be running fine.

    p
      a(href='/apps/' + appId + '/results').btn.btn-default Show me the results
