extends layout

block page_name
  - index = true;
  | Sabrina

block content
  div.jumbotron.text-center
    if isConfigured
      h1 You're done
      p Sabrina is configured correctly and running. You can use Omlet to interact
        | with your ThingEngine

      if tutorialContinue
        a.btn.btn-primary(href='/tutorial/2') Continue Tutorial
    else
      h1 Sabrina
      p Do you want to use Sabrina to interact with ThingEngine?
      p This operation will create a new chat between Sabrina and your configured
        | primary Omlet account. You'll then be able to send text messages in that
        | chat to control your ThingEngine, as your virtual assistant.
      if messagingAvailable
        p
          a(href='/assistant/enable').btn.btn-primary Yes, enable Sabrina
          |  
          a(href='#').btn.btn-default No, thanks
      else
        p But first, you must add a Omlet account!
        p
          a(href='/assistant/omlet').btn.btn-primary Sure, Go ahead
          |  
          a(href='#',data-toggle='collapse',data-target='#omlet-description').btn.btn-default What's Omlet?

        div.collapse.fade#omlet-description
          p Omlet is a chat application (like Whatsapp or Facebook Messenger),
            |  through which you will interact with Sabrina.

          p You can obtain it
            a(href='https://play.google.com/store/apps/details?id=mobisocial.omlet') here for Android
            |  and 
            a(href='https://itunes.apple.com/us/app/omlet/id682042134?ls=1&mt=8') here for iPhone
            | .

          p You must install Omlet in your phone if you wish to use Sabrina, and you
            |  must link it with a Google, Facebook or Baidu account.
