// section.divider#latest-news
//   h3= _("What's new in Genie")
//   div.container
//     div.row
//       for post in news
//         div.col-md-4
//           img(src=post.image, role='presentation').img-responsive
//           h4= post.title
//           p= post.blurb
//           p
//             a(href=post.link)= _("Read more")
//     p.text-center
//       a(href='/blog')= _("More news...")
