extends layout

block content
  h1= _("Developer Access requested")

  div.container
    div.row
      div.col-xs-12
        p= _("Thanks again for your interest in Thingpedia, we alerted the Thingpedia Team and they will get back to you as soon as possible.")
        p= _("Hope to see you contributing soon!")
