extends layout

block content
  h1= _("Success")

  p= _("Your developer organization has been created. You can now start contributing!")
  p
    a(href='/thingpedia/developers').btn.btn-primary= _("Go to my developer console")
