extends layout

block content
  h1 Developer Access requested

  div.container
    div.row
      div.col-xs-12
        p Thanks again for your interest in ThingPedia, we alerted the ThingPedia Team
          | and they will get back to you as soon as possible.
        p Hope to see you contributing soon!
