extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/docs.css')
  link(rel='stylesheet', href='/stylesheets/thingpedia_dev_sidebar.css')
  link(rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atom-one-light.min.css")

block page_name
  - stdlayout = false;
  = _("Documentation")

block content
  div.container-fluid#page-body
    div.row
      div.col-lg-3.col-md-4
        include thingpedia_dev_sidebar

      div.col-xs-12.col-md-8.col-lg-9
        div.documentation
          include:markdown-it(plugins=['markdown-it-anchor', 'markdown-it-highlightjs', ['markdown-it-table-of-contents', { includeLevel: [2,3] }]]) ../@@DOC@@
