extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/docs.css')

block page_name
  - index = true;
  = _("Documentation")

block content
  div.row
    div.col-xs-12.col-lg-offset-1.col-lg-10
      div.documentation
        include:markdown-it ../doc/my-api.md
