extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/docs.css')

block page_name
  - index = true;
  | Documentation

block content
  div.documentation
    include:markdown ../node_modules/thingengine-core/doc/thingtalk-intro.md
