extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/docs.css')

block page_name
  - index = true;
  | Documentation

block content
  div.documentation
    h1 ThingEngine Documentation Index

    ul
      li
        a(href='/doc/getting-started.md') Getting Started
      li
        a(href='/doc/thingtalk-intro.md') Introduction to ThingTalk
      li
        a(href='/doc/thingtalk-reference.md') ThingTalk Reference
      li
        a(href='/doc/thingpedia-device-intro.md') Writing Interfaces for ThingPedia