extends layout

block page_name
  - index = true;
  | Genie

block content
  div.jumbotron.text-center
    h1= _("Welcome to Genie, %s!").format(user.username)

    p
      = _("Thank you for verifying your email. You can now use the full functionality of your account.")

    p
      a(href='/me').btn.btn-primary= _("Go to My Genie")
      //-|
      //-a(href='https://play.google.com/store/apps/details?id=edu.stanford.thingengine.engine').btn.btn-primary= _("Download The Android App")
      //-a(href='https://crowdie.stanford.edu/flatpak/edu.stanford.Genie.flatpakref').btn.btn-primary= _("Download Genie On Your PC")
