div.container
  div.row
    div.col-xs-12
    //
      p
        small!= _("Genie is part of a research project of the <a href='https://oval.cs.stanford.edu'>Open Virtual Assistant Laboratory</a> at Stanford University.")
      -p
        small
          != _("Genie is free software, distributed under the <a href='https://opensource.org/licenses/Apache-2.0'>Apache license, version 2.0</a>. ")
