div.container
  div.row
    div#footer-social
            p!= _("<a href='https://twitter.com/StanfordOVAL' title='Connect with us on Twitter' target='_blank'><img alt='Connect with us on Twitter' src='https://almond-static.stanford.edu/assets/images/symbolic-logo-twitter.svg' class='f_icons'></img></a>    <a href='https://almond.stanford.edu/blog/feed.rss' title='Subscribe to our RSS Feed' target='_blank'><img alt='Subscribe to our RSS Feed' src='https://almond-static.stanford.edu/assets/images/symbolic-logo-rss.svg' class='f_icons'></img></a>  <a href='mailto:thigpedia-admins@lists.stanford.edu' title='Contact us via email' target='_blank'><img alt='Contact us via email' src='https://almond-static.stanford.edu/assets/images/symbolic-logo-email.svg' class='f_icons'></img></a>")
    div.col-xs-12
      p!= _("Genie is part of a research project of the <a href='https://oval.cs.stanford.edu'>Open Virtual Assistant Laboratory</a> at Stanford University. Read our Privacy Policy <a href='/about/privacy'>here</a>")

        // -p
            small
            != _("Genie is free software, distributed under the <a href='https://opensource.org/licenses/Apache-2.0'>Apache license, version 2.0</a>. ")
