div.container
  div.row
    div.col-xs-12
      p
        small!= _("Almond is part of a research project of the <a href='https://mobisocial.stanford.edu'>Mobisocial Computing Laboratory</a> at Stanford University.")
      p
        small
          != _("Almond is free software, distributed under the <a href='https://www.gnu.org/licenses/gpl-3.0-standalone.html'>GPLv3 license</a>. ")