extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/index.css')

block scripts
  if authenticated
    script(src='/javascripts/index.js')

block page_name
  - index = true;
  | ThingEngine

block content
  if authenticated
    div#cloud-id-holder(data-cloud-id=user.cloud_id, data-auth-token=user.auth_token)
  section#index-banner
    div

      if authenticated
        if isRunning
          h1 Welcome back!

          p Your Sabrina is running.

          p
            a(href='/apps').btn.btn-primary Check your apps
            | &#x20;
            a(href='/thingpedia/apps').btn.btn-primary Find new apps
        else
          h1 Uh, oh!

          h2 Your Sabrina died!
          p It might have crashed or might have been killed by the site administrators.
          p
            a(href='/status').btn.btn-primary Check out what happened

      else
        h1 Welcome to ThingEngine Online

        p ThingEngine Online is a free service to manage your Internet of Things.

        p Here, all your favorite apps come together to connect to your social networks
          |  and your devices.
          |  Or you can unleash your creativity with your own special app, tailored
          |  to your life.

        p
          |  It's easy, just&#x20;
          a(href='/user/register') open your free account
          |  and start&#x20;
          a(href='/thingpedia/apps') browsing for apps
          | .

        p
          a.btn.btn-lg.btn-primary(href='/user/register') Register now!
          | &#x20;
          a.btn.btn-lg.btn-default(href='/user/login') Sign in

  if authenticated
    h3.section-title What to do with ThingEngine?
  else
    h3.section-title What can I do with ThingEngine?

  div.row
    each cat in categories
      div.col-md-4.col-lg-3.col-sm-6.category-button
        a(href='/thingpedia/apps/by-category/' + cat.id)
          span(class='glyphicon glyphicon-' + cat.icon)
          h4.category-link= cat.catchphrase

  footer
    p
      small ThingEngine is a research project of the&#x20;
        a(href='http://mobisocial.stanford.edu') Mobisocial Computing Laboratory
        |  at Stanford University.&#x20;
        a(href='/about') Read more
        | .
    p
      small
        |  ThingEngine is free software, distributed under the&#x20;
        a(href='https://www.gnu.org/licenses/old-licenses/gpl-2.0.html') GPLv2
        |  license.&#x20;
        a(href='https://github.com/Stanford-IoT-Lab/ThingEngine/issues') Report a bug
        | &#x20;
        a(href='https://github.com/Stanford-IoT-Lab/ThingEngine').label.label-default Fork me on Github!
