extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/index.css')

block scripts
  if authenticated
    script(src='/javascripts/index.js')

block page_name
  - index = true;
  | ThingEngine

block content
  if authenticated
    div#cloud-id-holder(data-cloud-id=user.cloud_id, data-auth-token=user.auth_token)
  section#index-banner
    div

      if authenticated
        if isRunning
          h1 Welcome back!

          p Your Sabrina is running.

          p
            a(href='/apps').btn.btn-primary Check your apps
            | &#x20;
            a(href='/thingpedia/apps').btn.btn-primary Find new apps
        else
          h1 Uh, oh!

          h2 Your Sabrina died!
          p It might have crashed or might have been killed by the site administrators.
          p
            a(href='/status').btn.btn-primary Check out what happened

      else
        h1 Welcome to ThingPedia

        h2 Let's build the world's best virtual assistant.

        p ThingPedia is a repository of apps and interfaces that support Sabrina, a
          |  collaborative open source effort to build an extensible, privacy-aware
          |  personal virtual assistant.

  section
    h3.section-title Examples

    div.row
      div.col-md-6.col-lg-4
        div.panel.panel-default
          a(href='/thingpedia/apps/install/EX1')
            div.panel-heading
              h4.panel-title
                Example 1
          div.panel-body
            BLA BLA BLA Example 1

      div.col-md-6.col-lg-4
        div.panel.panel-default
          a(href='/thingpedia/apps/install/EX2')
            div.panel-heading
              h4.panel-title
                Example 2
          div.panel-body
            BLA BLA BLA Example 2

      div.clearfix.visible-md

      div.col-md-6.col-lg-4
        div.panel.panel-default
          a(href='/thingpedia/apps/install/EX3')
            div.panel-heading
              h4.panel-title
                Example 3
          div.panel-body
            BLA BLA BLA Example 3

      div.clearfix.visible-lg

      div.col-md-6.col-lg-4
        div.panel.panel-default
          a(href='/thingpedia/apps/install/EX4')
            div.panel-heading
              h4.panel-title
                Example 4
          div.panel-body
            BLA BLA BLA Example 4

      div.clearfix.visible-md

      div.col-md-6.col-lg-4
        div.panel.panel-default
          a(href='/thingpedia/apps/install/EX5')
            div.panel-heading
              h4.panel-title
                Example 5
          div.panel-body
            BLA BLA BLA Example 5

      div.col-md-6.col-lg-4
        div.panel.panel-default
          a(href='/thingpedia/apps/install/EX6')
            div.panel-heading
              h4.panel-title
                Example 6
          div.panel-body
            BLA BLA BLA Example 6

  section
    h3.section-title Get started

    p Sabrina interacts with you on the mobile phone using&#x20;
      a(href='http://www.omlet.me/') Omlet
      | , the extensible messaging platform.

    h4 Step 1:&#x20;
      a(href='/user/register') Register to ThingPedia

    h4 Step 2:&#x20;
      a(href='/devices/oauth2/org.thingpedia.builtin.omlet') Create an Omlet account

    h4 Step 3: Pick an app for your Sabrina
    p How about&#x20;
      a(href='/thingpedia/apps/install/FIXME') BLARGH
      | ?

    h4 Step 4: Profit!
    p Your Sabrina should be showing you BLORP.

  section
    if authenticated
      h3.section-title What to do with Sabrina?
    else
      h3.section-title What can Sabrina do?

    div.row
      each cat in categories
        div.col-md-4.col-lg-3.col-sm-6.category-button
          a(href='/thingpedia/apps/by-category/' + cat.id)
            span(class='glyphicon glyphicon-' + cat.icon)
            h4.category-link= cat.catchphrase

  footer
    p
      small Sabrina, ThingPedia and ThingEngine are part of a research project of the&#x20;
        a(href='http://mobisocial.stanford.edu') Mobisocial Computing Laboratory
        |  at Stanford University.&#x20;
        a(href='/about') Read more
        | .
    p
      small
        |  Sabrina is free software, distributed under the&#x20;
        a(href='https://www.gnu.org/licenses/old-licenses/gpl-2.0.html') GPLv2
        |  license.&#x20;
        a(href='https://github.com/Stanford-IoT-Lab/ThingEngine/issues') Report a bug
        | &#x20;
        a(href='https://github.com/Stanford-IoT-Lab/ThingEngine').label.label-default Fork me on Github!
