extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/index.css')

block scripts
  if authenticated
    script(src='/javascripts/index.js')

block page_name
  - index = true;
  | ThingPedia

block content
  if authenticated
    div#cloud-id-holder(data-cloud-id=user.cloud_id, data-auth-token=user.auth_token)
  section#index-banner
    div

      if authenticated
        if !isRunning
          h1 Uh, oh!

          h2 Your Sabrina died!
          p It might have crashed or might have been killed by the site administrators.
          p
            a(href='/status').btn.btn-primary Check out what happened
        else if user.omlet_id === null
          h1 Almost there

          p Your Sabrina is almost ready to help you. You just need to configure Omlet.

          p
            a(href='/devices/oauth2/org.thingpedia.builtin.omlet').btn.btn-primary Configure Omlet
        else
          h1 Welcome back!

          p Your Sabrina is running.

          p
            a(href='/apps').btn.btn-primary Check your apps
            | &#x20;
            a(href='/thingpedia/apps').btn.btn-primary Find new apps

      else
        h1 Welcome to ThingPedia

        h2 Let's build the world's best virtual assistant.

        p ThingPedia is a repository of apps and interfaces that support Sabrina, a
          |  collaborative open source effort to build an extensible, privacy-aware
          |  personal virtual assistant.

        p
          a(href='/user/register').btn.btn-primary Register now
          | &#x20;
          a(href='/user/login').btn.btn-primary Log in

  h2.section-title Examples

  section#examples
    div.row
      div.col-md-6.col-lg-6
        p Alice is a passionate sports fan, and she's a strong supporter of
          |  the Golden State Warriors. She does not want to miss an update on
          |  their road to the next NBA title!
        p She enables <a href='/thingpedia/apps/install/65'>Warrior Games</a> and
          |  now her Sabrina keeps her up-to-date on the games.

      div.col-md-6.col-lg-6
        img(src='/images/warriors.jpg')

    div.row
      div.col-md-6.col-lg-6
        img(src='/images/social-media-cloud.png')

      div.col-md-6.col-lg-6
        p Bob is a big social media user. He follows all sorts of interesting people
          |  on Twitter and wants to be updated on all the trending discussions their having.
        p He uses <a href='/thingpedia/apps/install/52'>Twitter Trending Hashtags</a>
          |  so that Sabrina can tell him what his friends are talking about - be it
          |  politics, sports, science or gossip!

    div.row
      div.col-md-6.col-lg-6
        p Carol is very attentive at her body shape and her weight, and she uses Sabrina
          |  to monitor it. She can &#x20;
          a(href='/apps/app-SabrinaPopulateDatabase/results') see her last measurements
          |  and she uses&#x20;
          a(href='/thingpedia/apps/install/66') Weekly Weight Report
          |  to keep her boyfriend updated too.

        p She also engages her friends in friendly fitness competitions using&#x20;
          a(href='/thingpedia/apps/install/67') Weekly Weight Wager
          | .

      div.col-md-6.col-lg-6
        img(src='/images/body-scale.jpg')

    div.row
      div.col-md-6.col-lg-6
        img(src='/images/academic-conference.jpg')

      div.col-md-6.col-lg-6
        p Daniel is a very busy professor, always jumping from one conference to another,
          |  and he always regrets not having time to network enough. How many missed
          |  occasions for mingling because he was not aware that someone was there!

        p But that's no more: he configured Sabrina to access his LinkedIn account, and
          |  now for every conference he goes to he enables&#x20;
          a(href='/thingpedia/apps/install/62') LinkedIn Common Industry
          | , which lets Sabrina suggest him people that he might be interested in meeting,
          | based on the commonality of their profile.

  if !authenticated
    section#get-started
      h2.section-title Get started

      h4 Sabrina interacts with you on the mobile phone using&#x20;
        a(href='http://www.omlet.me/') Omlet
        | , the extensible messaging platform.

      div.row
        div.col-md-offset-2.col-md-8
          h3 Step 1:&#x20;
            a(href='/user/register') register
            |  and&#x20;
            a(href='/devices/oauth2/org.thingpedia.builtin.omlet') create an Omlet account
            | .
      div.row
        div.col-md-offset-2.col-md-8
          h3 Step 2:&#x20;
            a(href='/thingpedia/apps') pick an app for your Sabrina

          h4 Many apps are available
            | , how about&#x20;
            a(href='/thingpedia/apps/install/65') receiving updates for the Golden State Warriors
            | ?
      div.row
        div.col-md-offset-2.col-md-8
          h3 Step 3: profit!
          img(src='/images/sabrina-warriors.png')

  section
    if authenticated
      h2.section-title What to do with Sabrina?
    else
      h2.section-title What can Sabrina do?

    div.row
      each cat in categories
        div.col-md-4.col-lg-3.col-sm-6.category-button
          a(href='/thingpedia/apps/by-category/' + cat.id)
            span(class='glyphicon glyphicon-' + cat.icon)
            h4.category-link= cat.catchphrase

  section
    h2.section-title The Sabrina Architecture

    img(src='/images/thingpedia-arch-diagram.svg', alt='Sabrina uses ThingEngine, which communicates on Omlet and uses the ThingManager and the ThingPedia')#thingpedia-arch-diagram

  footer
    p
      small Sabrina, ThingPedia and ThingEngine are part of a research project of the&#x20;
        a(href='http://mobisocial.stanford.edu') Mobisocial Computing Laboratory
        |  at Stanford University.&#x20;
        a(href='/about') Read more
        | .
    p
      small
        |  Sabrina is free software, distributed under the&#x20;
        a(href='https://www.gnu.org/licenses/old-licenses/gpl-2.0.html') GPLv2
        |  license.&#x20;
        a(href='https://github.com/Stanford-IoT-Lab/ThingEngine/issues') Report a bug
        | &#x20;
        a(href='https://github.com/Stanford-IoT-Lab/ThingEngine').label.label-default Fork me on Github!
