extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/mturk.css')

block page_name
  = _('Thank You!')

block content
  p= _("You paraphrases has been submitted. Thank you a lot for participating our study. We will mark your submission once we finish this batch")

