ul.nav.navbar-nav.navbar-right
    li 
      a.navbar-link#navbar-link-button(href='/')= _("Home")
    li 
      a.navbar-link#navbar-link-button(href='/about')= _("About")
    li
      a.navbar-link#navbar-link-button(href='/config')= _("Contact")
