ul.nav.navbar-nav
  li.hidden-md.hidden-lg
    a(href="/") Home
  li
    a(href="/thingpedia/apps") App Collection
  if authenticated
    li
      a(href="/apps") My Sabrina
  li
    a(href='/thingpedia/devices') Developers
  if authenticated && user.roles & 0x1
    li
      a(href="/admin") Administration

ul.nav.navbar-nav.navbar-right
  if authenticated
    li
      a(href="/user/profile") Settings
  li
    if authenticated
      a.navbar-login(href='/user/logout') Log Out
    else
      a.navbar-login(href='/user/login') Log In
  li
    a#navbar-login-button(href='/about') About
