ul.nav.navbar-nav
  li
    a(href="/")= _("COVID Genie at Stanford University")

ul.nav.navbar-nav.navbar-right
      a.navbar-link#navbar-link-button(href='/about')= _("About")
      a.navbar-link#navbar-link-button(href='/config')= _("Contact")
