extends layout

block page_name
  = _("Password Reset")

block content
  p= _("To reset your Genie password, please enter your username. An email with instructions will be sent to the address associated with it.")
  form(action='/user/recovery/start', method='post', data-toggle='validator')
    input(type='hidden',name='_csrf',value=csrfToken)
    div.form-group
      label(for='username').control-label= _("Username")
      input(type='text',name='username',value='',required=true,maxlength=255,autocorrect='off',autocapitalize='none').form-control#username
    div.form-group
      button(type='submit').btn.btn-primary= _("Reset Password")
