extends layout

block page_name
  | Almond: The Architecture of an Open, Crowdsourced, Privacy-Preserving, Programmable Virtual Assistant

block content
  center
    embed(src="https://d1ge76rambtuys.cloudfront.net/papers/www17.pdf", width="1200", height="1000")