extends layout

block page_name
  | A Distributed Open Social Platform for Mobile Devices

block content
  center
    embed(src="http://mobisocial.stanford.edu/papers/mobilesoft16.pdf", width="1200", height="1000")