extends layout

block page_name
  | Controlling Fine-Grain Sharing in Natural Language with a Virtual Assistant

block content
  center
    embed(src="http://mobisocial.stanford.edu/papers/ubicomp18.pdf", width="1200", height="1000")