extends layout

block page_name
  | Brassau: Automatically Generating Graphical User Interfaces for Virtual Assistant

block content
  center
    embed(src="http://mobisocial.stanford.edu/papers/mobilehci18.pdf", width="1200", height="1000")