extends layout

block page_name
  - index = true;
  = _("Error")

block content
  h2= _("This is not the page you're looking for")

  if for_ === 'cloud' && authenticated && user.auth_token !== authToken
    p
      strong= _("You should not have this link.")
      = _(" This is a pairing link for a different Sabrina account than yours.")
    p
      = _("If you obtained it by mistake, you should destroy it immediately by clearing the browser history and cache, and you should contact whoever gave this link that they risk having their account compromised.")

  else
    p= _("You must open the QR code link with the Sabrina app, not with your browser.")

    if for_ === 'cloud'
      if !authenticated
        p!= _("If you were trying to link your Sabrina account to your phone, you should <a href='/user/login'>log in</a> first.")
