extends layout

block scripts
  script(src='/javascripts/index.js')

block page_name
  - index = true;
  | ThingPedia

block content
  div#cloud-id-holder(data-cloud-id=user.cloud_id, data-auth-token=user.auth_token)

  div.jumbotron.text-center
    h1= _("Welcome to Sabrina, %s!").format(username)

    p= _("You're almost ready, you just need to create or link an Omlet account.")

    p
      a(href='/devices/oauth2/org.thingpedia.builtin.omlet').btn.btn-primary= _("Continue")
