nav#doc-sidebar
  ul
    li(class=(section === 'overview' ? 'current' : ''))
      a(href='/thingpedia/developers') Overview
    if authenticated && user.developer_org !== null
      li(class = (section === 'status' ? 'current' : ''))
        a(href='/thingpedia/developers/status') Almond Status and Logs
      li(class=(section === 'oauth' ? 'current' : ''))
        a(href='/thingpedia/developers/oauth') Oauth 2.0 Applications
    if authenticated
      li(class=(section === 'train-almond' ? 'current' : ''))
        a(href='/thingpedia/developers/train') Train Almond
    li.thingpedia-docs Thingpedia Documentation
      ul
        li(class=(['getting-started', 'thingtalk-intro'].indexOf(currentPage) >= 0 ? 'current' : ''))
          | For Users
          ul
            li(class=(currentPage === 'getting-started' ? 'current' : ''))
              a(href='/thingpedia/developers/getting-started.md') Getting Started with Almond

            li(class=(currentPage === 'thingtalk-intro' ? 'current' : ''))
              a(href='/thingpedia/developers/thingtalk-intro.md') Introduction to ThingTalk

        li(class=(['thingpedia-device-intro', 'thingpedia-device-intro-auth-n-discovery', 'thingpedia-device-intro-example-commands', 'thingpedia-device-with-zero-code'].indexOf(currentPage) >= 0 ? 'current' : ''))
          | For Thingpedia Contributors
          ul
            li(class=(currentPage === 'thingpedia-device-intro' ? 'current' : ''))
              a(href='/thingpedia/developers/thingpedia-device-intro.md') Writing Thingpedia Entries

            li(class=(currentPage === 'thingpedia-device-intro-auth-n-discovery' ? 'current' : ''))
              a(href='/thingpedia/developers/thingpedia-device-intro-auth-n-discovery.md') Authentication & Discovery

            li(class=(currentPage === 'thingpedia-device-intro-example-commands' ? 'current' : ''))
              a(href='/thingpedia/developers/thingpedia-device-intro-example-commands.md') Adding Natural Language

            li(class=(currentPage === 'thingpedia-device-with-zero-code' ? 'current' : ''))
              a(href='/thingpedia/developers/thingpedia-device-with-zero-code.md') Declarative Thingpedia Entries

        li(class=(['my-api', 'almond-dialog-api-reference'].indexOf(currentPage) >= 0 ? 'current' : ''))
          | For Almond Integrators
          ul
            li(class=(currentPage === 'my-api' ? 'current' : ''))
              a(href='/thingpedia/developers/my-api.md') Web Almond API

          ul
            li(class=(currentPage === 'almond-dialog-api-reference' ? 'current' : ''))
              a(href='/thingpedia/developers/almond-dialog-api-reference.md') Almond Dialog API

        li(class=(['thingtalk-reference', 'thingpedia-helpers'].indexOf(currentPage) >= 0 ? 'current' : ''))
          | Reference Manuals
          ul
            li(class=(currentPage === 'thingtalk-reference' ? 'current' : ''))
              a(href='/thingpedia/developers/thingtalk-reference.md') ThingTalk Reference
            li
              a(href='/thingpedia/entities') ThingTalk Entity Type List
            li(class=(currentPage === 'thingpedia-helpers' ? 'current' : ''))
              a(href='/thingpedia/developers/thingpedia-helpers.md') Thingpedia Device API Reference
            li
              a(href='/thingpedia/developers/thingpedia-api') Thingpedia API Reference