extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/thingpedia-devices.css')

block page_name
  if onlineAccounts
    | Supported online services
  else
    | Supported devices

block content
  if onlineAccounts
    //div.alert.alert-warning(role='alert')
      | Can't find your service? You can 
      a.alert-link(href='/upload/create?class=online') propose it for inclusion
      | .
  else
    //div.alert.alert-warning(role='alert')
      | Can't find your device? You can 
      a.alert-link(href='/upload/create?class=physical') propose it for inclusion
      | .

    div.alert.alert-success(role='alert')
      | Looking for web services instead? 
      a.alert-link(href='/thingpedia/devices?class=online') They are here.

  div.row
    each dev, i in devices
      if i % 12 === 0
        div.clearfix.visible-md.visible-md.visible-sm
      else if i % 6 === 0
        div.clearfix.visible-md.visible-sm
      else if i % 4 === 0
        div.clearfix.visible-lg.visible-sm
      else if i % 3 === 0
        div.clearfix.visible-md
      else if i % 2 === 0
        div.clearfix.visible-sm
      div.col-lg-3.col-md-4.col-sm-6.dev-template
        div.panel.panel-default
          a(href='/thingpedia/devices/details/' + dev.id).panel-heading= dev.name
          div.panel-body= dev.description
          div.panel-footer
            div.row
              div.col-md-6
                a.btn.btn-sm.btn-default.btn-block(href='/thingpedia/apps/by-device/' + dev.id) Find Apps
              //if authenticated && (user.developer_status >= 3 || dev.owner === user.id)
                div.col-md-6
                  a.btn.btn-sm.btn-warning.btn-block(href='/upload/update/' + dev.id) Update
