extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/thingpedia-devices.css')

block page_name
  = _("Supported Thing Types")

block content
  ul#types
    for s in schemas
      li
        a(href='/thingpedia/classes/by-id/' + s.kind)
          = s.kind
