extends layout

block page_name
  = _("Developer Portal")

block content
  h2= _("Thingpedia documentation")

  ul
    li
      a(href='/thingpedia/developers/getting-started.md') Getting Started with Almond
    li
      a(href='/thingpedia/developers/thingtalk-intro.md') Introduction to ThingTalk
    li
      a(href='/thingpedia/developers/thingpedia-device-intro.md') Writing Interfaces for Thingpedia
    li
      a(href='/thingpedia/developers/thingtalk-reference.md') ThingTalk Reference

  h2= _("Academic papers")

  ul
    //li
      a(href='/misc/thingtalk.pdf')
        cite ThingTalk: A Distributed Language for a Social Internet of Things
      br
      | Giovanni Campagna, Jiwon Seo, Michael Fischer and Monica S. Lam
      br
      i Work in progress

    li
      a(href='https://d1ge76rambtuys.cloudfront.net/papers/www17.pdf')
        cite Almond: The Architecture of an Open, Crowdsourced, Privacy-Preserving, Programmable Virtual Assistant
      br
      | Giovanni Campagna, Rakesh Ramesh, Silei Xu, Michael Fischer and Monica S. Lam
      br
      | In <i>Proceedings of the 26th International World Wide Web Conference (WWW-2017)</i>,
2017.
