extends layout

block page_name
  = _("Developer Portal")

block content
  h2= _("ThingPedia documentation")

  ul
    li
      a(href='/thingpedia/developers/getting-started.md') Getting Started with Sabrina
    li
      a(href='/thingpedia/developers/thingtalk-intro.md') Introduction to ThingTalk
    li
      a(href='/thingpedia/developers/thingpedia-device-intro.md') Writing Interfaces for ThingPedia
    li
      a(href='/thingpedia/developers/thingtalk-reference.md') ThingTalk Reference

  h2= _("Academic papers")

  ul
    li
      a(href='/misc/thingtalk.pdf')
        cite ThingTalk: A Distributed Language for a Social Internet of Things
      br
      | Giovanni Campagna, Jiwon Seo, Michael Fischer and Monica S. Lam
      br
      i Work in progress

