extends layout

block page_name
  = _("Train Almond")

block styles
  link(rel='stylesheet', href='/stylesheets/train-almond.css')

block scripts
  script(src='/javascripts/trainer-bundle.js')

block content
  p#first-blurb
    = _("Thanks for being part of the Almond virtual assistant project. ")
    = _("In here you can help us train it to understand better and more complex sentences.")

  div#sentence-to-code-block
    p
      = _("You can type a sentence in the box below, and Almond will respond with its best guess of what you mean. ")
      = _("Your task is to then click on the correct interpretation in her pseudo-English.")
    p
      = _("You don't have to worry, nothing will happen as a result of playing with Almond here, and if you don't understand what Almond is responding for a particular sentence (or all Almond's offers are wrong), just type a new sentence to continue.")

    div
      div.checkbox
        label
          input(type='checkbox')#edit-thingtalk
          = _("Edit ThingTalk before learning.")
      form#sentence-to-code-form
        div.form-group
          label.sr-only(for="utterance")= _("Utterance:")
          input.form-control(type="text", placeholder="What do you want Almond to do?")#utterance
      div#thingtalk-editor.hidden
        div.form-group#thingtalk-group
          label(for='thingtalk')= _("Code:")
          input.form-control(type="text")#thingtalk
          span.help-block#thingtalk-error
        div.form-group
          button(type='button').btn.btn-primary#sentence-to-code-done= _("Learn")
    div#results-container
      p#sabrina-thinks= _("Almond's choice: ")
        span#prediction
      p= _("Your choice:")
      ul#results

  div#counter-box
    = _("You have trained Almond with ")
    span#counter
    = _(" sentences. Thank you!")
