extends layout

block page_name
  - index = true;
  | Tutorial

block content
  div.jumbotron.text-center
    h1 You won your first battle!

    p Congratulations, your first ThingTalk app is up and running. Now,
      |  if you say "hello" to your Sabrina, she will answer "world".

    h2 Not very interesting?

    p We have more 
      a(href='/thingpedia/apps') useful apps
      | , a 
      a(href='/doc/getting-started.md') longer tutorial
      |  you can now follow on your own, and an 
      a(href='/doc/thingtalk.md') introduction to ThingTalk
      | .

    h2 Do you have an amazing app idea? Why not share it!

    p Just take your code and go to 
      a(href='/thingpedia/apps/create') the publishing page
      |  where you can submit it - and then everyone will be able to use it
      |  with a few clicks.

    p
      a(href='/').btn.btn-primary No Thanks, just take to the home.