extends layout

block page_name
  - index = true;
  | Tutorial

block content
  div.documentation
    h1 Your first ThingEngine App

    p Welcome to ThingEngine, and thanks for helping us build the next generation
      |  of Internet of Things apps. Through the next few pages, we will
      |  guide you through your initial experience so that you
      |  can be soon be contributing new and amazing apps.

    h3 (Mini)Apps

    p As you have guessed, ThingEngine works with apps. These are not apps
      |  in the traditional sense, you don't install them from an appstore
      |  and you don't need a degree in Computer Science to write them. And
      |  most importantly they will not kill your kittens if you get them
      |  wrong. Instead, they are <em>mini apps</em>, written in few lines
      |  of code, maybe just one.

    h3 How do I install the mini apps?

    p You don't! You just write the mini app yourself from the 
      a(href='/apps/create') New App
      |  interface, with whatever behavior you feel like is useful for you.
      |  But if you're looking for ideas, you can always consult 
      a(href='/thingpedia/apps') our list of recommended apps
      | .

    h3 How do mini apps access my data?

    p Mini apps operate in the context of your <i>things</i>. These are your
      |  devices and your accounts, and you can see the list of both from the
      |  top left navigation bar. If you want an app to use some of your things,
      |  you must give ThingEngine permission to access it.

    h3 Sounds cool. But how do I actually use it?

    p Well, let's try our first app. The example we will be following is
      |  a simple hello world app, whose purpose is to familiarize you with
      |  Sabrina, and how to interact with her. In the 
      a(href='/doc') documentation
      |  you will find more detailed examples, and a 
      a(href='/doc/getting-started.md') longer tutorial
      |  that includes this and a few more interesting apps.

    p First of all, you must enable Sabrina.

    p.text-center
      a(href='/assistant').btn.btn-primary Enable Sabrina