# This is an **EXAMPLE** file. Create a copy _without_ the `.EXAMPLE` suffix and
# edit per `TODO` instructions in comments.
# 
# The resulting file will contain information specific to **YOUR**
# instantiation of the application, which may include **SECRETS** such as 
# account credentials.
#
# That file should **NOT** be checked in to source control.
# 
apiVersion: batch/v1
kind: Job
metadata:
  name: bootstrap
spec:
  template:
    spec:
      volumes:
        - name: shared
          hostPath:
            # TODO  Replace `${REPO_ROOT}` with the path to this repository 
            #       clone on your local file system.
            #       
            #       You can find the repository path by executing
            #       
            #           git rev-parse --show-toplevel
            #       
            #       in any directory of the clone.
            #       
            #       ### Example ###
            #       
            #       Given
            #       
            #           $ git rev-parse --show-toplevel
            #           /Users/nrser/src/github.com/stanford-oval/almond-cloud
            #       
            #       the edited line would read:
            #       
            #           path: /Users/nrser/src/github.com/stanford-oval/almond-cloud/tmp/shared
            #       
            path: ${REPO_ROOT}/tmp/shared
