extends ../layout

block page_name
  = _("Privacy Policy")

block content
  h1= _("Stanford Covid Genie Privacy Policy")

  p
    = _("Stanford Covid Genie collects your zip code, phone number and optionally email address for the purposes of informing you about available COVID vaccine appointments.")
    |
    |
    = _("Your personal information is stored in a secure server we administer.")
    |
    |
    = _("We do not share your information with third parties, and we do not sell your personal information.")
    |
  p
    = _("Your phone number is automatically deleted when you text STOP to our phone number.")
    |
    |
    = _("Your email address is deleted when you unsubscribe from email notifications using the link at the bottom of the email.")
    |
    |
    != _("Alternatively, you can request the permanent deletion of your personal information by sending an email to <a href='mailto:covid-genie-feedback@lists.stanford.edu'>covid-genie-feedback@lists.stanford.edu</a>.")
