extends ../layout

block page_name
  = _("Privacy Policy")

block content
  h2 Privacy Policy for the Almond Virtual Assistant App

  p This policy applies to the <a href='https://play.google.com/store/apps/details?id=edu.stanford.thingengine.engine'>Android app</a>,
    |  the GNOME version of Almond, and the command line app, not to the use of this website.
    |  See below for the policy that governs this website.

  h3 What do we collect?

  p The Almond app stores most of your data locally on your phone. In particular, we <strong>do not</strong> collect or transmit your name, phone number, device or account credentials, address book contacts, location, or any personally identifiable information.

  p The Almond app connects to an anonymous service in our control for natural language understanding. All sentences that you input in the app are sent to this server for processing, together with your IP address. If you agree to anonymous collection, or make use of the Train feature (including answering a question of the form "Did you mean any of the following?"), the sentence is permanently stored in our database for future training. Otherwise, the sentence is immediately deleted. We do not store any identifiable information with the sentence.

  p The Almond app also makes use of the Microsoft Cognitive Services Speech API to perform speech recognition. This is only activate when you click on the "Listen" button. The Almond app also uses the Hockey SDK for crash reporting, if you accept sending the report after a crash. These services are governed by their own privacy policies.

  p The Almond app periodically anonymously contacts the Thingpedia server (this website) to retrieve code and natural language updates. We do not track these connections. The Almond app also anonymously contacts the Thingpedia server any time you click on one of the suggestions. This is used to track which buttons are clicked most often.

  p <strong>If you enable Cloud Synchronization</strong>, your data is also uploaded to the Web Almond service (this website), which is governed by a different privacy policy.

  h3 Who has access to this data?

  p The data we collect is accessible by the Almond developers and system administrators, for training and maintenance purposes. We do not share access to the data with anybody else, unless required by law.

  p The Almond dataset (which includes all sentences that have been trained explicitly, but not sentences that were collected passively, even if you agree to such collection) is <strong>publicly available</strong> to anyone who asks us for it.

  h2 Privacy Policy for the Thingpedia Developer Service

  p This policy governs the submission of code and natural language sentences as a developer of Thingpedia. It governs your Thingpedia account and personally identifiable information.

  p For the Thingpedia account, personally identifiable information includes your username, password, email address, and Google profile ID (if provided). We store this data only to facilitate your login. This data is not shared with anybody. It is accessible by our system administrator in an event of a system emergency (such as when we suspect an abuse of the service). The email is only used to send you exceptional updates regarding the service. Passwords are hashed securely and cannot be recovered.

  p For the Thingpedia submissions, you understand that the whole submission is always intended to be public, and can be made public at any time. This includes your code, sentences, metadata, and other information. Even if you do not explicitly make this information public, it is always available to the site administrator and code reviewers, who can decide to make it public for any reason, or no reason at all.

  h2 Privacy Policy for the Web Almond Service

  p This policy governs the Web Almond Service, ie, the part of the website under the /me URL hierarchy. Web Almond is accessed using a Thingpedia account, but the Thingpedia account. Like Android Almond, Web Almond stores user data, credentials, location, address book, messages, and other personally identifiable and sensitive information.

  p Web Almond stores this data in a database that is private to your account on a server we control. This database is encrypted with a key specific to your account, but this key is available to the system administrators. The system administrators will only make use of this key in an event of a system emergency (such as when we suspect an abuse of the service from you), or when explicitly granted access from you.
