extends ../layout

block styles
  link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/index.css')

block page_name
  - stdlayout = false;
  | Almond

block content
  div#page-body
    div.sections#about-research
      include:markdown-it(html=true, plugins=['markdown-it-anchor', 'markdown-it-highlightjs', 'markdown-it-container-pandoc', ['markdown-it-table-of-contents', { includeLevel: [2,3] }]]) ./about_research.md

      section.divider#publication-timeline
        h3= _("Publication Timeline")
        section.timeline
          ul
            li
              div <time>February 2019</time>
                br
                a(href='https://almond-static.stanford.edu/papers/genie-pldi19.pdf')
                  cite Genie: A Generator of Natural Language Parsers for Compositional Virtual Assistants
                br
                | Giovanni Campagna, Silei Xu, Mehrad Moradshahi, and Monica S. Lam
                br
                | Conditionally Accepted to <i>Proceedings of the 40th ACM SIGPLAN Conference on Programming Language Design and Implementation</i> (PLDI 2019), Phoenix, AZ, June 2019.

            li
              div <time>October 2018</time>
                br
                a(href='https://almond-static.stanford.edu/papers/ubicomp18.pdf')
                  cite Controlling Fine-Grain Sharing in Natural Language with a Virtual Assistant
                br
                | Giovanni Campagna, Silei Xu, Rakesh Ramesh, Michael Fischer, and Monica S. Lam
                br
                | In <i>Proceedings of the ACM on Interactive, Mobile, Wearable and Ubiquitous Technologies (IMWUT)</i>, 2018.
            li
              div <time>September 2018</time>
                br
                a(href='https://almond-static.stanford.edu/papers/mobilehci18.pdf')
                  cite Brassau: Automatically Generating Graphical User Interfaces for Virtual Assistants
                br
                | Michael Fischer, Giovanni Campagna, Silei Xu, and Monica S. Lam
                br
                | In <i>20th International Conference on Human-Computer Interaction with Mobile Devices and Services. (MobileHCI)</i>, 2018.
            li
              div <time>April 2017</time>
                br
                a(href='https://almond-static.stanford.edu/papers/www17.pdf')
                  cite Almond: The Architecture of an Open, Crowdsourced, Privacy-Preserving, Programmable Virtual Assistant
                br
                | Giovanni Campagna, Rakesh Ramesh, Silei Xu, Michael Fischer, and Monica S. Lam
                br
                | In <i>Proceedings of the 26th International World Wide Web Conference (WWW)</i>, Perth, Australia, April 2017.

      section.divider#team
        h3= _("Our Team")
        div.container
          div.row
            div.col-md-4
              div.team-profile-mid#team-profile-mid-monica
              div
                h4.profile-name
                  a(href='https://suif.stanford.edu/~lam/') Prof. Monica Lam
                p Monica Lam is a Professor in the Computer Science Department at Stanford University since 1988. She received a B.Sc. from University of British Columbia in 1980 and a Ph.D. in Computer Science from Carnegie Mellon University in 1987. She is the Faculty Director of the Stanford MobiSocial Computing Laboratory and a co-PI in the POMI (Programmable Open Mobile Internet) 2020 project, which is an NSF Expedition started in 2008.

            div.col-md-8
              div.col-sm-6
                div.team-profile-mid#team-profile-mid-giovanni
                div
                  h6.profile-name
                    a(href='https://web.stanford.edu/~gcampagn/') Giovanni Campagna
                  p Computer Science PhD student
                  p Platform backend, natural language, Thingpedia and ThingTalk design

              div.col-sm-6
                div.team-profile-mid#team-profile-mid-michael
                div
                  h6.profile-name Michael Fischer
                  p Computer Science PhD student
                  p UX design, HCI, AI
                  br

              div.visible-sm.visible-md.visible-lg.clearfix

              div.col-sm-6
                div.team-profile-mid#team-profile-mid-silei
                div
                  h6.profile-name
                    a(href='https://cs.stanford.edu/people/silei/') Silei Xu
                  p Computer Science PhD student
                  p Systems, Thingpedia design, distributed systems

              div.col-sm-6
                div.team-profile-mid#team-profile-mid-mehrad
                div
                  h6.profile-name
                    a(href='https://www.linkedin.com/in/mehradmoradshahi/') Mehrad Moradshahi
                  p Electrical Engineering PhD student
                  p Natural language understanding, machine learning
                  br

              div.visible-sm.visible-md.visible-lg.clearfix

              div.col-sm-6
                div.team-profile-mid#team-profile-mid-richard
                div
                  h6.profile-name
                    a(href='https://stanford.edu/~rry/') Richard Yang
                  p Computer Science MS student
                  p Graphics, AI

              div.col-sm-6
                div.team-profile-mid#team-profile-mid-jackiey
                div
                  h6.profile-name
                    a(href='https://jackieyang.me/') Jackie Yang
                  p Computer Science PhD student
                  p Human Computer Interaction

          div.row
            div.col-sm-12
              p.text-center
                small Previous members of our team include Albert Chen, Zhiyang He, Jiaqi Xue,
                  |  Aashna Garg, Jiwon Seo, Sadjad Fouladi, Reynis Vazquez, Rakesh Ramesh, and prof. Richard Socher. We thank them for their valuable support.
