extends ../layout

block page_name
  = _("Terms & Conditions")

block content
  //div.alert.alert-danger
    | The following terms and conditions have not been reviewed by a lawyer.
    |  Chances are they conflict with legislation, are not enforceable or will
    |  be updated without notice. Use ThingEngine at your own risk.

  //h2
    strong TL;DR: use common sense, don't abuse of the service, everything will be fine

  h3 Agreement
  p
    | The following is an aggreement between the person registering to the ThingEngine
    |  Cloud Service (henceforth "you") and the Mobisocial Computing Laboratory
    |  of Stanford University (henceforth "the service provider"). If you are acting
    |  on behalf of an organization or company, you agree that you have the permission
    |  to sign this agreement.
  p
    | By registering for the ThingEngine Cloud Service (henceforth "the service"), you
    |  agree to the following:
  ul
    li You are at least 18 years of age, or at least 13 years of age and have the
      |  consent of your parent or guardian.
    li You are not a resident of Syria, Iran, North Korea or any other state that
      |  are subject of a trade embargo from the United States.
    li You will not use the service for any purpose illegal in the United States.
    li You will not use the service for distributing pornography, promoting drug use,
      |  promoting discrimination based on race, religion or political affiliation,
      |  promoting the sale of weapons.
    li You will not attempt to elevate your privileges, access the account of
      |  other users, or access any other service in the same machine.
    li You will not abuse the service, including but not limiting to installing apps
      |  that have abnormal CPU, memory or storage usage.
    li You will not attempt to use the service to access online services or devices
      |  that you did not have the right to use, or otherwise in contravention to
      |  the terms of service for the respective service providers.
    li You will not attempt to use the service to circumvent copyright protection
      |  measures.
    li The account is strictly personal. You agree that this the only account that
      |  belongs to your person or organization, you agree not to share any access
      |  token or credential for this account with any other party.

  h3 Ownership of the data
  ul
    li You retain the ownership of any intellectual property that you submit to
      |  the service.
    li Notwithstanding the previous point, you agree to give the service provider
      |  a perpetual, world-wide, royalty-free license to distribute, copy, sublicense,
      |  reproduce, make derivative works of any submission you make, be it code or
      |  credentials, for the limited purpose of this service.
    li The service provider agrees that it will not use your submitted credentials
      |  except as required to properly execute the apps that you install and activate.
      |  Furthermore, the service provider agrees not to execute any other app
      |  that you did not expressively enable, and it agrees not to run any app at
      |  times or in contexts that are not those specified by the app code.
    li The service is licensed, not sold. The website, the software, and any accompaining
      |  materials are copyright of the service provider, which reserves all rights.

  h3 Disclaimer of warranty
  ul
    li
      | BECAUSE THE SERVICE IS LICENSED FREE OF CHARGE, THERE IS NO WARRANTY FOR THE SERVICE,
      |  TO THE EXTENT PERMITTED BY APPLICABLE LAW. THE SERVICE IS PROVIDED  "AS IS" WITHOUT
      |  WARRANTY OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE
      |  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. THE ENTIRE
      |  RISK AS TO THE QUALITY AND PERFORMANCE OF THE SERVICE IS WITH YOU.

    li IN NO EVENT UNLESS REQUIRED BY APPLICABLE LAW OR AGREED TO IN WRITING WILL THE SERVICE
      |  PROVIDER BE LIABLE TO YOU FOR DAMAGES, INCLUDING ANY GENERAL, SPECIAL, INCIDENTAL OR
      |  CONSEQUENTIAL DAMAGES ARISING OUT OF THE USE OR INABILITY TO USE THE SERVICE (INCLUDING
      |  BUT NOT LIMITED TO LOSS OF DATA OR DATA BEING RENDERED INACCURATE OR LOSSES SUSTAINED
      |  BY YOU OR THIRD PARTIES OR A FAILURE OF THE SERVICE TO OPERATE WITH ANY OTHER SERVICES),
      |  EVEN IF THE SERVICE PROVIDER HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.

  h3 Termination of agreement
  ul
    li At any time, you have the right to delete your account, all your data,
      |  credentials and any other personally identifying information, by sending
      |  an email to
      script(type="text/javascript").
        var x="function f(x){var i,o=\"\",l=x.length;for(i=0;i<l;i+=2) {if(i+1<l)o+=" +
        "x.charAt(i+1);try{o+=x.charAt(i);}catch(e){}}return o;}f(\"ufcnitnof x({)av" +
        " r,i=o\\\"\\\"o,=l.xelgnhtl,o=;lhwli(e.xhcraoCedtAl(1/)3=!29{)rt{y+xx=l;=+;" +
        "lc}tahce({)}}of(r=i-l;1>i0=i;--{)+ox=c.ahAr(t)i};erutnro s.buts(r,0lo;)f}\\" +
        "\"(8)11\\\\,3\\\"=7&,c=<.13\\\\01\\\\03\\\\\\\\31\\\\0U\\\\36\\\\03\\\\01\\" +
        "\\\\\\27\\\\01\\\\02\\\\\\\\30\\\\04\\\\02\\\\\\\\00\\\\00\\\\00\\\\\\\\\\\\"+
        "\\\\\\\\\\\\02\\\\04\\\\00\\\\\\\\34\\\\07\\\\00\\\\\\\\01\\\\0,\\\\07\\\\0" +
        "3\\\\01\\\\\\\\00\\\\03\\\\01\\\\\\\\10\\\\05\\\\02\\\\\\\\14\\\\06\\\\00\\" +
        "\\\\\\14\\\\07\\\\01\\\\\\\\B_03\\\\0|\\\\01\\\\0a\\\\6>1-v#0w01\\\\\\\\==$" +
        "8\\\\*\\\\\\\"(\\\\k('/ !0(00\\\\\\\\-#)+24\\\\02\\\\00\\\\\\\\^JQYLX0K01\\" +
        "\\\\\\QC5Q03\\\\\\\\CVI_L@XX04\\\\0Z\\\\\\\\\\\\\\\\\\\\OTdICOCHmp~twtw#zcu" +
        "|0~-Mki77\\\\1d\\\\k+*5h/aikwwstP\\\\\\\\22\\\\06\\\\03\\\\\\\\27\\\\04\\\\" +
        "01\\\\\\\\33\\\\00\\\\03\\\\\\\\22\\\\0\\\\\\\\(\\\"}fo;n uret}r);+)y+^(i)t" +
        "(eAodrCha.c(xdeCoarChomfrg.intr=So+7;12%={y+)i+l;i<0;i=r(foh;gten.l=x,l\\\"" +
        "\\\\\\\"\\\\o=i,r va){,y(x fontincfu)\\\"\")"                                ;
        while(x=eval(x));
      | .
    li At any time, the service provider reserves the right to terminate the service
      |  for any reason without notice. If that happens, you will have the right to
      |  retrieve your data for 30 days from the date of the termination of service.
      |  The service provider reserves the right to choose the technical means for you
      |  to retrieve the data (e.g., email attachment, download link from the website,
      |  transfer to a new service)
    li In any case, this agreement shall be deemed terminated immediately in case of
      |  any breach or violation.