.command-template {
}

.command-utterance {
  font-size: 18px;
  padding-right: 5px;
}

#command-search-box {
  margin-right: 15px;
}

#command-list-navbar {
  margin-bottom: 30px;
}

.none-of-above {
  color: #2c3e50;
}

.panel-body-main {
  display: flex;
}

.device-icon-list {
  margin-bottom: 20px;
}

.device-icon-list > a > img {
  width: 60px;
  height: 60px;
  margin-left: 5px;
  margin-right: 5px;
}

.device-icon-list-small {
  width: 50px;
  margin-right: 10px;
  margin-left: 10px;
}

.device-icon-list-small > a img {
  width: 40px;
  height: 40px;
  margin: 5px;
}

.command-utterance {
}

.fa-heart {
  padding-left: 10px;
  padding-right: 2px;
}

#cheatsheet-screenshot:hover {
  filter: blur(5px);

}

img {
  max-width:100%;
  max-height:100%;
}

.image-wrap {
  text-align:center;
}

.hover-text {
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  color: #2c3e50;
  visibility: hidden;
  opacity: 0;
  font-size: 20px;
}

.image-wrap:hover img {
  filter: blur(2px);
}

.image-wrap:hover .hover-text {
  visibility: visible;
  opacity: 1;
}