#almond-index-carousel .item {
  height: 720px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

#almond-index-carousel .carousel-inner {
  overflow-x: hidden;
  overflow-y: visible;
  height: 720px;
  position: relative;
}

#almond-index-carousel h3 {
  margin-bottom: 0.7em;
}

#almond-index-carousel .carousel-caption > h4 {
  font-size: 36px;
  color: #8c1515;
  text-shadow: none;
  font-weight: 300;
}

#almond-index-carousel .carousel-caption > p {
  color: black;
  text-shadow: none;
}

#almond-index-carousel img {
  height: 450px;
  object-fit: contain;
  margin: 0 auto;
}

#almond-index-carousel img#alexa {
  height: 350px;
}

#almond-index-carousel .carousel-control {
  background: none;
}

@media screen and (min-width: 1200px) {
  #almond-index-container {
    margin: 0 100px;
  }
}

#examples p {
    font-size: 1.5em;
}

#examples .row {
    margin-top: 2em;
}

#examples .row:first-child {
    margin-top: 0;
}

#examples img {
    display: block;
    margin: auto;
    width: 75%;
}

#get-started {
    text-align: center;
}

#get-started img {
    display: block;
    width: 75%;
    margin: auto;
}

#thingpedia-arch-diagram {
    display: block;
    width: 80%;
    margin: auto;
}

.section-title, .section-subtitle {
    text-align: center;
}

.team-profile-mid {
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size:cover;
}

#team-profile-mid-monica {
    background-image:url(../images/monica-lam.jpg);
}

#team-profile-mid-rsocher {
    background-image:url(../images/richard-socher.jpg);
}

#team-profile-mid-giovanni {
    background-image:url(../images/giovanni.jpeg);
}

#team-profile-mid-michael {
    background-image:url(../images/michael-fischer.png);
}

#team-profile-mid-jiwon {
    background-image:url(../images/jiwon-seo.jpg);
}

#team-profile-mid-rakesh {
    background-image:url(../images/rakesh.jpg);
}

#team-profile-mid-silei {
    background-image:url(../images/silei.jpg);
}

#team-profile-mid-richard {
    background-image:url(../images/richard-yang.jpg);
    /*background-size:contain;*/
}

#team-profile-mid-mehrad {
    background-image:url(../images/mehrad.png);
}

#team-profile-mid-jackiey {
    background-image:url(../images/jackiey.jpg);
}

#team .profile-name {
    font-weight: bold;
}

.team-profile-text {
    text-align: center;
    font-size: 12px;
}

#thingpedia-icon-cloud {
  display: block;
  width: 100%;
}

#multi-color-example .black {
  color: black;
}
#multi-color-example .blue {
  color: blue;
}
#multi-color-example .red {
  color: red;
}
#multi-color-example .purple {
  color: purple;
}
#multi-color-example .green {
  color: green;
}
#multi-color-example code {
  color: inherit;
  background-color: transparent;
}

#multi-color-example .box {
  padding: 0.5em;
  border: 2px solid black;
}
#multi-color-example .arrow {
  text-align: center;
  font-size: 36px;
}

#publication-list > li {
  margin-bottom: 1em;
}

#about-research .divider {
    clear: both;
}

@media (min-width: 992px) {
#about-research .divider > .row > .col-md-6:first-child {
    padding-left: 0px;
}
#about-research .divider > .row > .col-md-6:last-child {
    padding-right: 0px;
}
}

#about-research .divider > * {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 768px) {
    #about-research .divider > * {
        width: 750px;
    }
}
@media (min-width: 992px) {
    #about-research .divider > * {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    #about-research .divider > * {
        width: 1170px;
    }
}

#about-research .divider img {
    width: 100%;
}

.hanging-icon-block {
    display: block;
}
.hanging-icon-block::before {
    background-size: 80px 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border-radius: 50%;

    content: " ";
    margin-right: 2em;
    display: block;
    float: left;
    width: 100px;
    height: 100px;
}
.hanging-icon-block > * {
    overflow: auto;
}
.hanging-icon-block {
    margin-bottom: 1em;
}
.row:last-child > .hanging-icon-block {
    margin-bottom: 0px;
}

#agenda-thingpedia::before {
    background-image: url(../images/icon-thingpedia.png);
}
#agenda-thingtalk::before, #agenda-dtp::before {
    background-image: url(../images/icon-tt.png);
}
#agenda-luinet::before, #agenda-guinet::before {
    background-image: url(../images/icon-nn.png);
}
#project-server::before {
    background-image: url(../images/icon-cloud.png);
    background-size: 90px 90px;
}
#project-compound::before {
    background-image: url(../images/icon-compound.png);
}
#project-email::before {
    background-image: url(../images/icon-email.png);
}

/* the double ID selector is needed to have the correct CSS specificity */
#about-research #agenda-dtp, #about-research #project-email {
    max-width: 570px;
}

.timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: lightgray;
}

.timeline ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border: 4px solid #dea844;
    border-radius: 50%;
    background: white;
}

.timeline ul li div {
    position: relative;
    bottom: 0;
    width: 550px;
    padding: 15px;
    background: #2c3e50;
    color: white;
}

.timeline ul li div a {
    color: #dea844;
}

.timeline ul li div::before {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
}
.timeline ul li:nth-child(odd) div {
    left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #2c3e50 transparent transparent;
}
.timeline ul li:nth-child(even) div {
    left: -589px;
}

.timeline ul li:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent #2c3e50;
}

@media screen and (max-width: 1300px) {
    .timeline ul li div {
        width: 400px;
    }
    .timeline ul li:nth-child(even) div {
        left: -439px; /*250+45-6*/
    }
}

@media screen and (max-width: 1000px) {
    .timeline ul li div {
        width: 300px;
    }
    .timeline ul li:nth-child(even) div {
        left: -339px; /*250+45-6*/
    }
}

@media screen and (max-width: 750px) {
    .timeline ul li {
        margin-left: 20px;
    }

    .timeline ul li div {
        width: calc(100vw - 150px);
    }

    .timeline ul li:nth-child(even) div {
        left: 45px;
    }

    .timeline ul li:nth-child(even) div::before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent #2c3e50 transparent transparent;
    }
}

#subscribe {
    margin-top: 20px;
    margin-bottom: 20px;
}

#subscribe-row {
    margin-bottom: 20px;
}

#subscribe-start {
    white-space: normal;
}

#subscribe-done {
    padding: 10px;
}

#section-commandpedia > div > div > div > p {
  margin-bottom: 1.5em;
}

#latest-news h3 {
  margin-bottom: 0.8em;
}

#latest-news h4 {
  font-size: 28px;
}

#latest-news .img-responsive {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
}

.arrow-box div, .arrow-box-flipped div {
  font-size: 18px;
  margin: 18px 5px 0 5px;
}

#compound-commands-row .when {
  color: red;
}
#compound-commands-row .get {
  color: rgb(220,136,8);
}
#compound-commands-row .do {
  color: rgb(34,139,34);
}
#compound-commands-row .example {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin: 60px 80px 0 80px;
}

#filters-row .img-responsive {
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
  object-fit: contain;
}

#why-almond h4 {
  margin-top: 2.5em;
  margin-bottom: 0.8em;
  font-size: 22px;
  text-align: center;
}
#why-almond .row:first-child h4 {
  margin-top: 0;
}

#why-almond-thingpedia-row .img-responsive {
  height: 96px;
  width: 96px;
  object-fit: contain;
  margin: 0 auto;
}

#seq-seq-animation > svg {
  margin: 0 auto;
  object-fit: contain;
  display: block;
  transform: scale(0.8, 0.8);
}

@keyframes e-post {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
#seq-seq-animation #e-post {
  animation: 20s linear e-post infinite;
}

@keyframes e-on {
  0% {
    opacity: 0;
  }
  12.5% {
    opacity: 0;
  }
  17.5% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
#seq-seq-animation #e-on {
  animation: 20s linear e-on infinite;
}

@keyframes e-twitter {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
#seq-seq-animation #e-twitter {
  animation: 20s linear e-twitter infinite;
}

@keyframes e-end {
  0% {
    opacity: 0;
  }
  37.5% {
    opacity: 0;
  }
  42.5% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
#seq-seq-animation #e-end {
  animation: 20s linear e-end infinite;
}

@keyframes d-now {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  55% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
#seq-seq-animation #d-now {
  animation: 20s linear d-now infinite;
}

@keyframes d-arrow {
  0% {
    opacity: 0;
  }
  62.5% {
    opacity: 0;
  }
  67.5% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
#seq-seq-animation #d-arrow {
  animation: 20s linear d-arrow infinite;
}

@keyframes d-twitter-post {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
#seq-seq-animation #d-twitter-post {
  animation: 20s linear d-twitter-post infinite;
}

@keyframes d-end {
  0% {
    opacity: 0;
  }
  87.5% {
    opacity: 0;
  }
  92.5% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
#seq-seq-animation #d-end {
  animation: 20s linear d-end infinite;
}


@keyframes arrow1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  55% {
    opacity: 1;
  }
  59.5% {
    opacity: 1;
  }
  62.5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
#seq-seq-animation #arrow1 {
  animation: 20s linear arrow1 infinite;
}

@keyframes arrow2 {
  0% {
    opacity: 0;
  }
  62.5% {
    opacity: 0;
  }
  67.5% {
    opacity: 1;
  }
  73% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
#seq-seq-animation #arrow2 {
  animation: 20s linear arrow2 infinite;
}

@keyframes arrow3 {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  85.5% {
    opacity: 1;
  }
  87.5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
#seq-seq-animation #arrow3 {
  animation: 20s linear arrow3 infinite;
}

@keyframes arrow4 {
  0% {
    opacity: 0;
  }
  87.5% {
    opacity: 0;
  }
  92.5% {
    opacity: 1;
  }
  98% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#seq-seq-animation #arrow4 {
  animation: 20s linear arrow4 infinite;
}


#almond-manifesto > h3, #home-page-sections .divider > h3 {
  font-size: 48px;
  color: #8c1515;
  font-weight: bold;
}
#almond-manifesto > h3 + canvas + p, #home-page-sections .divider h4 {
  font-size: 30px;
  text-align: center;
  font-weight: normal;
}
#almond-manifesto h4 {
  font-size: 24px;
  color: #8c1515;
  font-weight: bold;
}
#almond-manifesto h4 + p {
  font-size: 18px;
}
#almond-manifesto-learn-more {
  margin-top: 2em;
  text-align: center;
}


@keyframes rotate {
  from {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#almond-manifesto > img {
  width: 30%;
  object-fit: contain;
  margin: 0 auto 1.5em;
  display: block;
  animation: 10s linear rotate infinite;
}

#almond-manifesto > canvas {
  object-fit: contain;
  margin: 0 auto 1.5em;
  display: block;
  width: 30%;
}

#almond-manifesto .col-md-6 {
  /*border: 1px solid black;
  border-radius: 10px;*/
}

#almond-subtitle {
  margin-bottom: 0.5em !important;
}

#almond-logo {
  display: block;
  width: 250px;
  margin: 0 auto 1em;
}

#almond-explanation-line {
  text-align: center;
  font-size: 24px;
  color: #8c1515;
}
