#index-banner {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image:url(../images/world.jpg);
    background-size: contain;
}

#index-banner > div {
    box-shadow: 0px 0px 10px #AAAAAA;
    /*background-color: rgba(244, 244, 244, 0.917);*/
    background-color: white;
    /*height: 67%;*/
    margin-right:auto;
    margin-left:auto;
    max-width: 867px;
    padding: 6px 3.7% 25px 3.7%;
    text-align: center;
    /*color: #666666;*/
}

#index-banner h1 {
    font-weight: 900;
    margin-bottom: 30px;
}

#index-banner h2 {
    font-weight:900;
    margin-bottom: 20px;
}

#index-banner p {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    line-height: 1.5;
}

#examples p {
    font-size: 1.5em;
}

#examples .row {
    margin-top: 2em;
}

#examples .row:first-child {
    margin-top: 0;
}

#examples img {
    display: block;
    margin: auto;
    width: 75%;
}

#get-started {
    text-align: center;
}

#get-started img {
    display: block;
    width: 75%;
    margin: auto;
}

#thingpedia-arch-diagram {
    display: block;
    width: 80%;
    margin: auto;
}

.section-title, .section-subtitle {
    text-align: center;
}

.team-profile-mid {
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size:cover;
}

#team-profile-mid-monica {
    background-image:url(../images/monica-lam.jpg);
}

#team-profile-mid-rsocher {
    background-image:url(../images/richard-socher.jpg);
}

#team-profile-mid-giovanni {
    background-image:url(../images/giovanni.jpeg);
}

#team-profile-mid-michael {
    background-image:url(../images/michael-fischer.png);
}

#team-profile-mid-jiwon {
    background-image:url(../images/jiwon-seo.jpg);
}

#team-profile-mid-rakesh {
    background-image:url(../images/rakesh.jpg);
}

#team-profile-mid-silei {
    background-image:url(../images/silei.jpg);
}

#team-profile-mid-richard {
    background-image:url(../images/richard-yang.jpg);
    /*background-size:contain;*/
}

#team-profile-mid-mehrad {
    background-image:url(../images/mehrad.png);
}

#team .profile-name {
    font-weight: bold;
}

.team-profile-text {
    text-align: center;
    font-size: 12px;
}

#almond-title {
  color:#dea844;
}

#thingpedia-icon-cloud {
  display: block;
  width: 100%;
}

#multi-color-example .black {
  color: black;
}
#multi-color-example .blue {
  color: blue;
}
#multi-color-example .red {
  color: red;
}
#multi-color-example .purple {
  color: purple;
}
#multi-color-example .green {
  color: green;
}
#multi-color-example code {
  color: inherit;
  background-color: transparent;
}

#multi-color-example .box {
  padding: 0.5em;
  border: 2px solid black;
}
#multi-color-example .arrow {
  text-align: center;
  font-size: 36px;
}

#publication-list > li {
  margin-bottom: 1em;
}
