html, body {
  margin: 0;
}

#page-body {
    margin-top: 60px;
    min-height: calc(100vh - 210px);
    height: auto !important;
}

#page-title {
    text-align: center;
}

.placeholder {
    font-style: italic;
}

.form-inline .form-control {
    margin-left: 6px;
    margin-right: 12px;
}

.form-inline .form-block {
    margin-bottom: 15px;
}

#navbar-login-button {
    margin-right: 30px;
}

#qrcode-placeholder > img {
    margin-left: auto;
    margin-right: auto;
}

#qrcode-target {
    display:none;
}

#config-phone-mobile-browser {
    display:none;
}

.app-content {
    font-size: 120%;
}

.app-content h1 {
    font-size: 200%;
}

.app-content h2 {
    font-size: 110%;
}

#code {
    height: 20em;
}

.online-account-choice {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.online-account-expander {
    padding-top: 1em;
}

#app-install-description {
    font-style: italic;
}

#app-install-well .btn, #show-hide-code .btn {
    margin-bottom: 1em;
}

#app-install-alert {
    margin-bottom: 1em;
}

pre, pre code {
    color: black;
}

.app-template {
  margin-bottom: 0.5em;
}

.device-icon-small > img {
    display: block;
    width: 80px;
    height: 80px;
    object-fit: contain;
    border-radius: 5px;
    margin: 0 auto;
}

.dev-template .panel-heading {
    font-weight: bold;
    text-align: center;
    display: block;
}

footer {
  margin-top: 30px;
  padding-top: 1.5em;
  background-color: #1a242f;
  color: white;
  text-align: right;
  min-height: 120px;
}

/*#page-body p a:link:not(.btn), #page-body p a:visited:not(.btn) {
  color: #2c3e50;
  text-decoration: underline;
}
#page-body p a:hover:not(.btn) {
  color: #f7c374;
}*/

body {
  font-size: 16px;
}

#section-heading {
  color: white;
  background-color: #2c3e50;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

#section-heading h1 {
  font-size: 96px;
  font-weight: bold;
}

#section-heading h2 {
  font-size: 42px;
  margin-bottom: 1em;
}

.sections > :nth-child(odd) {
  background-color: white;
}
.sections > :nth-child(even) {
  background-color: #f3f4f2;
}
.sections > .divider {
  padding-top: 2em;
  padding-bottom: 4em;
}

.divider h3 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 1.5em;
}

.panel > .panel-heading {
  margin-top: 0px;
}

/* note: we assume that all browsers which support grid layout also support flexbox
   (which is true in practice)
*/
@supports (display:grid) {
.aligned-grid > .clearfix, .aligned-grid::before, .aligned-grid::after {
    display: none !important;;
}

.aligned-grid {
    clear: both;
    display: grid;
}
@media screen and (min-width: 992px) {
.aligned-grid {
    grid-template-columns: 1fr 1fr;
}
}
@media screen and (min-width: 1200px) {
.aligned-grid {
    grid-template-columns: 1fr 1fr 1fr;
}
}
.aligned-grid > .aligned-grid-item  {
    width: 100%;
    height: 100%;
    padding-bottom: 21px;
}
.aligned-grid > .aligned-grid-item  > .panel {
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
}
.aligned-grid > .aligned-grid-item > .panel > .panel-body {
    flex-grow: 2;
}
}

img.device-icon-tiny {
  display: inline-block;
  width: 32px;
  height: 32px;
  object-fit: contain;
  border-radius: 5px;
}
