@import url('https://fonts.googleapis.com/css?family=Nunito');
html,
body {
    margin: 0;
    font-family: 'Nunito', sans-serif !important;
    background-image: url(../images/background.jpeg);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.force-inline {
    display: inline;
}

#page-body {
    min-height: 100vh;
    height: auto !important;
}

#page-body.container,
#page-body.container-fluid {
    padding-bottom: 30px;
    min-height: calc(100vh - 135px);
}

#page-title {
    text-align: center;
}

#stanford-logo {
    height: 2em;
    object-fit: contain;
    display: inline-block;
    vertical-align: baseline;
    margin-top: -9px;
}

#stanford-logo+span {
    border-left: 1px solid white;
    padding-left: 8px;
    display: inline-block;
    vertical-align: top;
}

#stanford-signature {
    width: 150px;
    object-fit: contain;
    margin: 0 auto;
    display: block;
}

.placeholder {
    font-style: italic;
}

.form-inline .form-control {
    margin-left: 6px;
    margin-right: 12px;
}

.form-inline .form-block {
    margin-bottom: 15px;
}

#navbar-link-button {
    margin-right: 30px;
    color: #000 !important;
}


/*override*/

.navbar {
    padding: 50px;
}

.navbar-header {
    height: 65px;
}

.container {
    margin-left: unset !important;
}

.btn {
    font-size: 30px;
    font-weight: 700;
    color: white;
    background-image: linear-gradient(to bottom right, #0A75C9 40%, #00C4DB);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 8px;
    border: none;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn:active:focus {
    color: white;
    background-image: linear-gradient(to bottom right, #0A75C9 40%, #00C4DB);
    opacity: 80%;
    box-shadow: none;
    outline: 0;
}

.btn-block {
    width: 14em !important;
}

.icon-bar {
    background-color: #000 !important;
}

.navbar-inverse .navbar-nav>li>a:hover {
    text-decoration-line: revert !important;
    background-color: unset;
    text-decoration-color: #0A75C9;
    text-decoration-style: dotted;
}

.navbar-inverse .navbar-nav>li>a:focus {
    text-decoration-line: revert !important;
    background-color: unset;
    text-decoration-color: #0A75C9;
    font-weight: 700;
}


/* ---- */


/* new */

.index_row {
    width: 99vw;
    text-align: left;
}

.index_cl_sx,
.index_cl_dx {
    width: 50%;
    display: inline-block;
    padding: 50px;
}

.index_cl_sx {
    padding-left: 8em;
    padding-right: 4em;
    float: left;
}

.index_cl_dx {
    padding-left: 4em;
    padding-right: 8em;
    float: right;
}

#genie-covid-title {
    font-size: 70px;
    font-weight: 800;
}

#title_index {
    width: 600px;
    padding: 10px;
    float: left;
}

#title_index>a,
#title_index:hover,
a:hover {
    color: #000;
    text-decoration: none;
    font-size: 35px;
    font-weight: 700;
}

.index_btn {
    width: 40%;
}

.index_dx_p {
    margin-top: 20px;
    margin-bottom: 10px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
}

.index_sx_p {
    margin-top: 20px;
    margin-bottom: 10px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 2em;
    font-weight: 700;
    line-height: 7em;
    text-decoration: underline;
}

@media screen and (max-width: 805px) {
    #title_index {
        width: 330px;
    }
}

@media screen and (max-width: 768px) {
    ul.nav.navbar-nav.navbar-right {
        padding-top: unset !important;
    }
    #page-nav {
        border-color: #0A75C9;
        background-color: rgba(255, 255, 255);
        width: 230px;
        position: absolute;
        right: 60px;
    }
    .navbar-nav {
        font-size: 25px !important;
    }
}

@media screen and (max-width: 1200px) {
    ul.nav.navbar-nav.navbar-right {
        padding-top: 100px;
    }
}


/* ---- */

.navbar-nav {
    font-size: 35px;
    font-weight: 500;
    padding: 10px;
}

.navbar-nav>a {
    color: #000 !important;
}

.navbar-brand {
    background-image: url(../images/logo-stanford.png);
    background-size: cover;
    font-size: unset;
    min-height: 105px;
    min-width: 70px;
    margin-top: -20px;
    margin-right: 20px;
    color: transparent;
}

.navbar-inverse {
    background-color: transparent !important;
    color: #000 !important;
}

@media screen and (max-width: 1000px) {
    .navbar-header {
        padding-top: 0.9em;
    }
    .navbar-brand {
        margin-left: 0;
        margin-top: 0;
    }
    .index_cl_sx,
    .index_cl_dx {
        width: 100%;
    }
    .index_cl_sx {
        padding-top: 110px;
    }
    .index_cl_dx {
        padding-left: 8em;
    }
    .index_sx_p {
        line-height: 1.5em;
    }
    #title_index>a {
        font-size: 35px;
    }
}

#qrcode-placeholder>img {
    margin-left: auto;
    margin-right: auto;
}

#qrcode-target {
    display: none;
}

#config-phone-mobile-browser {
    display: none;
}

.app-content {
    font-size: 120%;
}

.app-content h1 {
    font-size: 200%;
}

.app-content h2 {
    font-size: 110%;
}

#code {
    height: 20em;
}

.online-account-choice {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.online-account-expander {
    padding-top: 1em;
}

#app-install-description {
    font-style: italic;
}

#app-install-well .btn,
#show-hide-code .btn {
    margin-bottom: 1em;
}

#app-install-alert {
    margin-bottom: 1em;
}

pre,
pre code {
    color: black;
}

.app-template {
    margin-bottom: 0.5em;
}

.device-icon-small>img {
    display: block;
    width: 80px;
    height: 80px;
    object-fit: contain;
    border-radius: 5px;
    margin: 0 auto;
}

.dev-template .panel-heading {
    font-weight: bold;
    text-align: center;
    display: block;
}

footer.page-footer {
    color: white;
    text-align: right;
    min-height: 80px;
    background-image: linear-gradient(to bottom right, #0A75C9 40%, #00C4DB);
    display: none;
}

footer.page-footer a:link,
footer.page-footer a:visited,
footer.page-footer a:hover {
    color: white;
}

#stanford-footer {
    text-align: left;
}

#stanford-footer .link-grid .row {
    margin-top: 0.3em;
}

#stanford-footer .link-grid .row:first-child {
    margin-top: 1em;
}

#section-heading {
    color: black;
    text-align: center;
    padding-top: 14em;
    padding-bottom: 2em;
}

#section-heading h1 {
    color: #8c1515;
    font-weight: 900;
    letter-spacing: -0.5px;
    font-size: 96px;
    text-shadow: 1px 1px 0px black;
}

#section-heading h2 {
    font-size: 42px;
    margin-bottom: 1em;
}

#section-heading h4 {
    font-weight: 600;
}

.sections> :nth-child(odd) {
    background-color: white;
}

.sections> :nth-child(even) {
    background-color: #f3f4f2;
}

.sections>.divider {
    padding-top: 2em;
    padding-bottom: 4em;
}

.divider h3 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 0.8em;
}

.panel>.panel-heading {
    margin-top: 0px;
}


/* note: we assume that all browsers which support grid layout also support flexbox
   (which is true in practice)
*/

@supports (display: grid) {
    .aligned-grid>.clearfix,
    .aligned-grid::before,
    .aligned-grid::after {
        display: none !important;
    }
    .aligned-grid {
        clear: both;
        display: grid;
    }
    @media screen and (min-width: 600px) {
        .aligned-grid {
            grid-template-columns: 1fr 1fr;
        }
    }
    @media screen and (min-width: 1200px) {
        .aligned-grid {
            grid-template-columns: 1fr 1fr 1fr;
        }
        .aligned-grid.aligned-grid-4 {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
    .aligned-grid>.aligned-grid-item {
        width: 100%;
        height: 100%;
        padding-bottom: 21px;
    }
    .aligned-grid>.aligned-grid-item>.panel {
        width: 100%;
        height: 100%;
        margin-bottom: 0px;
        display: flex;
        flex-direction: column;
    }
    .aligned-grid>.aligned-grid-item>.panel>.panel-body {
        flex-grow: 2;
    }
}

img.device-icon-tiny {
    display: inline-block;
    width: 32px;
    height: 32px;
    object-fit: contain;
    border-radius: 5px;
    box-sizing: content-box;
    padding-right: 1em;
}

.aside {
    font-size: 0.8em;
}

.aside.pull-left {
    margin-right: 1.5em;
}

.aside.pull-right {
    margin-left: 1.5em;
}

.aside img {
    max-height: 200px;
    min-width: 100px;
    display: block;
    margin: 0 auto;
}

.aside .caption {
    text-align: center;
}

.blog-post h2,
.blog-post h3 {
    clear: both;
}

.blog-post .byline {
    margin: 1em 0;
}

.blog-post .cover-photo {
    max-height: 300px;
}

.blog-post-ref {
    margin-top: 2em;
}

.blog-post-ref:first-child {
    margin-top: 0;
}

.blog-post img {
    max-width: 100%;
}

#user-authorized-oauth-panel img.device-icon-tiny {
    box-sizing: content-box;
    padding-right: 1em;
    padding-top: 1em;
}

a.social-icon>img {
    height: 24px;
    width: 24px;
    padding: 2px;
    object-fit: contain;
    background-color: transparent;
}

a.social-icon:link,
a.social-icon:visited {
    color: white;
    background-color: transparent;
}

.social-icon-spacer {
    display: inline-block;
    width: 6px;
}

.blog-post-ref img {
    width: 140px;
    object-fit: cover;
    margin-top: 1em;
    height: 100px;
}

.consent-form {
    max-height: 300px;
    overflow: auto;
}