html,
body {
  margin: 0;
}

.force-inline {
  display: inline;
}

#page-body {
  margin-top: 5em;
  min-height: calc(100vh - 195px);
  height: auto !important;
}
#page-body.container,
#page-body.container-fluid {
  padding-bottom: 30px;
  min-height: calc(100vh - 165px);
}

#page-title {
  text-align: center;
}

#stanford-logo {
  height: 2em;
  object-fit: contain;
  display: inline-block;
  vertical-align: baseline;
  margin-top: -9px;
}
#stanford-logo + span {
  border-left: 1px solid white;
  padding-left: 8px;
  display: inline-block;
  vertical-align: top;
}

#stanford-signature {
  width: 150px;
  object-fit: contain;
  margin: 0 auto;
  display: block;
}

.placeholder {
  font-style: italic;
}

.form-inline .form-control {
  margin-left: 6px;
  margin-right: 12px;
}

.form-inline .form-block {
  margin-bottom: 15px;
}

#navbar-login-button {
  margin-right: 30px;
}

.navbar-header {
  height: 5em;
}

.navbar-nav {
  font-size: 1.25em;
  font-weight: 700;
  padding-top: 0.75em;
  padding-bottom: 0;
}

.navbar-brand {
  margin-left: 0.6em;
  margin-top: 0.75em;
  font-size: 1.25em;
  font-weight: 700;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .navbar-header {
    padding-top: 0.9em;
  }
  .navbar-brand {
    margin-left: 0;
    margin-top: 0;
  }
}

#qrcode-placeholder > img {
  margin-left: auto;
  margin-right: auto;
}

#qrcode-target {
  display: none;
}

#config-phone-mobile-browser {
  display: none;
}

.app-content {
  font-size: 120%;
}

.app-content h1 {
  font-size: 200%;
}

.app-content h2 {
  font-size: 110%;
}

#code {
  height: 20em;
}

.online-account-choice {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.online-account-expander {
  padding-top: 1em;
}

#app-install-description {
  font-style: italic;
}

#app-install-well .btn,
#show-hide-code .btn {
  margin-bottom: 1em;
}

#app-install-alert {
  margin-bottom: 1em;
}

pre,
pre code {
  color: black;
}

.app-template {
  margin-bottom: 0.5em;
}

.device-icon-small > img {
  display: block;
  width: 80px;
  height: 80px;
  object-fit: contain;
  border-radius: 5px;
  margin: 0 auto;
}

.dev-template .panel-heading {
  font-weight: bold;
  text-align: center;
  display: block;
}

footer.page-footer {
  padding-top: 1.5em;
  background-color: #8c1515;
  color: white;
  text-align: right;
  min-height: 120px;
}

footer.page-footer a:link,
footer.page-footer a:visited,
footer.page-footer a:hover {
  color: white;
}

#stanford-footer {
  text-align: left;
}

#stanford-footer .link-grid .row {
  margin-top: 0.3em;
}
#stanford-footer .link-grid .row:first-child {
  margin-top: 1em;
}

#section-heading {
  color: black;
  background-color: white;
  background-image: url(../images/almond-background.png);
  background-size: cover;
  background-position: center bottom;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

#section-heading h1 {
  color: #8c1515;
  font-weight: 900;
  letter-spacing: -0.5px;
  font-size: 96px;

  text-shadow: 1px 1px 0px black;
}

#section-heading h2 {
  font-size: 42px;
  margin-bottom: 1em;
}

#section-heading h4 {
  font-weight: 600;
}

.sections > :nth-child(odd) {
  background-color: white;
}
.sections > :nth-child(even) {
  background-color: #f3f4f2;
}
.sections > .divider {
  padding-top: 2em;
  padding-bottom: 4em;
}

.divider h3 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 0.8em;
}

.panel > .panel-heading {
  margin-top: 0px;
}

/* note: we assume that all browsers which support grid layout also support flexbox
   (which is true in practice)
*/
@supports (display: grid) {
  .aligned-grid > .clearfix,
  .aligned-grid::before,
  .aligned-grid::after {
    display: none !important;
  }

  .aligned-grid {
    clear: both;
    display: grid;
  }
  @media screen and (min-width: 992px) {
    .aligned-grid {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media screen and (min-width: 1200px) {
    .aligned-grid {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  .aligned-grid > .aligned-grid-item {
    width: 100%;
    height: 100%;
    padding-bottom: 21px;
  }
  .aligned-grid > .aligned-grid-item > .panel {
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
  }
  .aligned-grid > .aligned-grid-item > .panel > .panel-body {
    flex-grow: 2;
  }
}

img.device-icon-tiny {
  display: inline-block;
  width: 32px;
  height: 32px;
  object-fit: contain;
  border-radius: 5px;
  box-sizing: content-box;
  padding-right: 1em;
}

.aside {
  font-size: 0.8em;
}
.aside.pull-left {
  margin-right: 1.5em;
}
.aside.pull-right {
  margin-left: 1.5em;
}
.aside img {
  max-height: 200px;
  min-width: 100px;
  display: block;
  margin: 0 auto;
}
.aside .caption {
  text-align: center;
}

.blog-post h2,
.blog-post h3 {
  clear: both;
}
.blog-post .byline {
  margin: 1em 0;
}
.blog-post .cover-photo {
  max-height: 300px;
}
.blog-post-ref {
  margin-top: 2em;
}
.blog-post-ref:first-child {
  margin-top: 0;
}
.blog-post img {
  max-width: 100%;
}

#user-authorized-oauth-panel img.device-icon-tiny {
  box-sizing: content-box;
  padding-right: 1em;
  padding-top: 1em;
}

a.social-icon > img {
  height: 24px;
  width: 24px;
  padding: 2px;
  object-fit: contain;
  background-color: transparent;
}
a.social-icon:link,
a.social-icon:visited {
  color: white;
  background-color: transparent;
}

.social-icon-spacer {
  display: inline-block;
  width: 6px;
}

.blog-post-ref img {
  width: 140px;
  object-fit: cover;
  margin-top: 1em;
  height: 100px;
}
