html,
body {
    margin: 0;
}

.force-inline {
    display: inline;
}

#page-body {
    margin-top: 45px;
    min-height: calc(100vh - 195px);
    height: auto !important;
}

@media screen and (min-width: 490px) {
    #page-body {
        margin-top: 100px;
    }
}

.head-home {
    margin-top: 45px !important;
}

#page-body.container,
#page-body.container-fluid {
    padding-bottom: 30px;
    min-height: calc(100vh - 145px);
}

#page-title {
    text-align: center;
    margin-top: -0.2em;
    margin-bottom: 1em;
}

.msg-container {
    min-height: 15em;
    padding-top: 4em;
}

.msg-left-block {
    width: 50%;
    float: left;
    text-align: right;
    padding-right: 6em;
}

.oa-col-left {
    width: 50%;
    float: left;
    text-align: center;
    padding-right: 6em;
}

.msg-image {
    width: 100px;
}

.msg-right-block {
    width: 50%;
    float: right;
}

.oa-col-right {
    width: 50%;
    float: right;
    text-align: center;
}

.msg-title>h2 {
    font-weight: 600;
    padding: 0.5em 0em;
}

.msg-body {
    color: #8c1515;
}

.msg-body>h3 {
    font-weight: 400;
}

.msg-button {
    width: 100%;
    text-align: center;
    padding: 50px 0px;
}

.msg-button>a {
    border-radius: 10px;
}

.logo_top {
    width: 55px;
    float: left;
    margin-right: 10px;
}

#stanford-logo {
    height: 2em;
    object-fit: contain;
    display: inline-block;
    vertical-align: baseline;
    margin-top: -9px;
}

#stanford-logo+span {
    border-left: 1px solid white;
    padding-left: 8px;
    display: inline-block;
    vertical-align: top;
}

#stanford-signature {
    width: 150px;
    object-fit: contain;
    margin: 0 auto;
    display: block;
}

.placeholder {
    font-style: italic;
}

.form-inline .form-control {
    margin-left: 6px;
    margin-right: 12px;
}

.form-inline .form-block {
    margin-bottom: 15px;
}

.custom-btn {
    border-radius: 10px;
    font-weight: 600;
    font-size: 1.3em;
}

.new-button>a,
.new-button>button {
    font-weight: 600;
    font-size: 0.9em;
    border-radius: 10px;
}

.new-button {
    padding: 15px 0px 5px 0px;
}

.control-label {
    font-size: 1.2em;
}

.dont {
    margin-left: 0.7em;
}

#navbar-login-button {
    margin-right: 30px;
}

.navbar-header {
    height: 65px;
}

.navbar-nav {
    font-size: 18px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 0;
}

.navbar-brand {
    margin-left: 0.6em;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.navbar-brand.hidden-sm {
    font-weight: bold;
    line-height: 21px;
    height: 47px;
    font-size: 26px;
}

@media screen and (max-width: 768px) {
    .navbar-header {
        padding-top: 0.9em;
    }
    .navbar-brand {
        margin-left: 0;
        margin-top: 0;
    }
    .navbar-fixed-top .navbar-collapse,
    .navbar-static-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        font-size: 1.1em;
    }
    #input {
        width: 86% !important;
    }
}

#qrcode-placeholder>img {
    margin-left: auto;
    margin-right: auto;
}

#qrcode-target {
    display: none;
}

#config-phone-mobile-browser {
    display: none;
}

.app-content {
    font-size: 120%;
}

.app-content h1 {
    font-size: 200%;
}

.app-content h2 {
    font-size: 110%;
}

#code {
    height: 20em;
}

.online-account-choice {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.online-account-expander {
    padding-top: 1em;
}

#app-install-description {
    font-style: italic;
}

#app-install-well .btn,
#show-hide-code .btn {
    margin-bottom: 1em;
}

#app-install-alert {
    margin-bottom: 1em;
}

.alert {
    margin: 1.2em 0em;
    border-radius: 10px;
    font-weight: 700;
}

.alert-reg {
    font-weight: initial;
}

pre,
pre code {
    color: black;
}

.app-template {
    margin-bottom: 0.5em;
}

.dev-template .panel-heading {
    font-weight: bold;
    text-align: center;
    display: block;
}

.oauth-pan {
    padding: 40px;
}

#request-info>h3 {
    font-size: 30px;
    font-weight: 400;
}

#request-info>h2 {
    margin-left: 2em;
}

.panel {
    min-height: 6.8em;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
}

.panel-default {
    border-color: #585858;
    margin: 30px 0px;
}

.panel-body {
    min-height: 7em;
    background-color: #ece5dd6b;
    font-size: 1.1em;
}

.panel-body.btn.btn-primary {
    font-weight: 600;
    font-size: 1.3em;
    border-radius: 10px;
}

.panel-body-conf {
    font-size: 1.3em;
}

.panel-footer {
    min-height: 3em;
    padding: 2px 5px !important;
    background-color: #b1040e;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
}

.panel-title {
    font-size: 19px;
    font-weight: 600;
    line-height: 1.2em;
}

.panel-heading {
    min-height: 3em;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    background-color: #d8d8d8 !important;
    color: #000 !important;
    border-bottom: unset;
}

.panel-primary {
    border-color: #000;
}

.new-msg-button {
    border-radius: 10px;
    margin: 5px;
}

.row-cpd-bottom {
    margin-top: 3.2em;
}

footer.page-footer {
    padding-top: 1.5em;
    background-color: #8c1515;
    color: white;
    text-align: right;
    min-height: 100px;
}

footer.page-footer a:link,
footer.page-footer a:visited,
footer.page-footer a:hover {
    color: white;
}

#stanford-footer {
    text-align: left;
}

#stanford-footer .link-grid .row {
    margin-top: 0.3em;
}

#stanford-footer .link-grid .row:first-child {
    margin-top: 1em;
}

#section-heading {
    color: black;
    background-color: white;
    background-image: url(../images/almond-background.png);
    background-size: cover;
    background-position: center bottom;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

#page-body {
    scroll-snap-type: y mandatory;
}

#section-commandpedia {
    height: 53vh;
    font-size: 1.3em;
}

#inside-almond {
    height: 40vh;
}

#inside-almond .row {
    height: 60px;
}

#almond-manifesto {
    height: 720px;
}

#almond-manifesto>p {
    font-size: 18px;
    padding: 50px;
}

.divider {
    scroll-snap-align: start;
}

.home-page#section-heading {
    height: 937px;
}

#almond-index-container {
    padding-top: 3em;
}

#almond-index-container #almond-title {
    padding-top: 80px;
    font-size: 125px;
}

#almond-index-container #try-almond-now {
    margin: 125px 0px;
}

#section-heading h1 {
    color: #8c1515;
    font-weight: 900;
    letter-spacing: -0.5px;
    font-size: 96px;
    text-shadow: 1px 1px 0px black;
}

#section-heading h2 {
    font-size: 42px;
    margin-bottom: 1em;
}

#section-heading h4 {
    font-weight: 600;
}

.sections> :nth-child(odd) {
    background-color: white;
}

.sections> :nth-child(even) {
    background-color: #f3f4f2;
}

.sections>.divider {
    padding-top: 2em;
    padding-bottom: 4em;
}

.divider h3 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 0.8em;
}

.panel>.panel-heading {
    margin-top: 0px;
}


/* note: we assume that all browsers which support grid layout also support flexbox
   (which is true in practice)
*/

@supports (display: grid) {
    .aligned-grid>.clearfix,
    .aligned-grid::before,
    .aligned-grid::after {
        display: none !important;
    }
    .aligned-grid {
        clear: both;
        display: grid;
    }
    @media screen and (min-width: 600px) {
        .aligned-grid {
            grid-template-columns: 1fr 1fr;
        }
    }
    @media screen and (min-width: 1200px) {
        .aligned-grid {
            grid-template-columns: 1fr 1fr 1fr;
        }
        .aligned-grid.aligned-grid-4 {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
    .aligned-grid>.aligned-grid-item {
        width: 100%;
        height: 100%;
        padding-bottom: 21px;
    }
    .aligned-grid>.aligned-grid-item>.panel {
        width: 100%;
        height: 100%;
        margin-bottom: 0px;
        display: flex;
        flex-direction: column;
    }
    .aligned-grid>.aligned-grid-item>.panel>.panel-body {
        flex-grow: 2;
    }
}

img.device-icon-tiny {
    display: inline-block;
    width: 32px;
    height: 32px;
    object-fit: contain;
    border-radius: 5px;
    box-sizing: content-box;
    padding-right: 1em;
}

.aside {
    font-size: 0.8em;
}

.aside.pull-left {
    margin-right: 1.5em;
}

.aside.pull-right {
    margin-left: 1.5em;
}

.aside img {
    max-height: 200px;
    min-width: 100px;
    display: block;
    margin: 0 auto;
}

.aside .caption {
    text-align: center;
}

.blog-post h2,
.blog-post h3 {
    clear: both;
}

.blog-post .byline {
    margin: 1em 0;
}

.blog-post .cover-photo {
    max-height: 300px;
}

.blog-post-ref {
    margin-top: 2em;
}

.blog-post-ref:first-child {
    margin-top: 0;
}

.blog-post img {
    max-width: 100%;
}

#user-authorized-oauth-panel img.device-icon-tiny {
    box-sizing: content-box;
    padding-right: 1em;
    padding-top: 1em;
}

a.social-icon>img {
    height: 24px;
    width: 24px;
    padding: 2px;
    object-fit: contain;
    background-color: transparent;
}

a.social-icon:link,
a.social-icon:visited {
    color: white;
    background-color: transparent;
}

.social-icon-spacer {
    display: inline-block;
    width: 6px;
}

.blog-post-ref img {
    width: 140px;
    object-fit: cover;
    margin-top: 1em;
    height: 100px;
}

.succeded {
    margin-top: 5em;
}

.jumbotron {
    border: 1px solid #585858;
    border-radius: 10px !important;
}

.btn-spacer {
    margin-right: 1em;
}

.jumbotron p {
    line-height: 1.7em;
    margin: 1.6em 0;
}

.footer-icons {
    width: 30%;
    text-align: center;
}

input[type="checkbox"] {
    margin: 10px;
}