#cheatsheet h3 {
  font-size: medium;
  font-weight: bold;
}

#cheatsheet h3 > img {
  width: 24px;
  height: 24px;
  object-fit: contain;
  margin-right: 0.5em;
}

#cheatsheet li {
  font-size: small;
}

#cheatsheet ul {
  padding-left: 10.5px;
}

#cheatsheet .trigger {
  color: red;
}

#cheatsheet .query {
  color: rgb(220,136,8);
}

#cheatsheet .action {
  color: rgb(34,139,34);
}

#cheatsheet .grid-item {
  width: 24%;
}
