#device-toolbar {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
}

@media screen and (min-width: 1000px) {

#page-body {
  margin: 0px;
  position: fixed;
  top: 60px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

#device-toolbar {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
#device-toolbar > div {
  float: none;
}

#device-toolbar > #device-error {
  flex-grow: 1;
  width: auto;
}
#device-toolbar > #device-error p {
  margin-bottom: 0px;
}

#device-editor-sidebar {
  position: absolute;
  top: 50px;
  bottom: 0px;
  left: 0px;
  width: 20%;
  overflow-y: auto;
}
#device-editor-body {
  position: absolute;
  top: 50px;
  width: 80%;
  bottom: 0px;
  right: 0px;
  overflow-y: auto;
}

#device-code, #device-dataset {
  height: 100%;
  width: 100%;
}
#device-editor-body .CodeMirror {
  position: absolute;
  width: 100%;
  height: 100%;
}

}

#device-editor-sidebar {
  background-color: lightgray;
  padding: 0px;
}
#device-editor-sidebar a {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
#device-editor-sidebar a {
  color: black;
}
#device-editor-sidebar li.active > a {
  color: white;
}

#device-editor-body {
  padding: 0px;
}
#device-metadata {
  padding-left: 15px;
  padding-right: 15px;
}

#device-code, #device-dataset {
  min-height: 50em;
}
