#device-description-input {
    height: 4em;
}

#device-code, .CodeMirror {
    height: 50em;
}

.device-subtitle {
    font-size: 25px;
}

#device-details-actions {
    margin-top: 1em;
}

.dev-template .panel-heading {
    font-weight: bold;
    text-align: center;
    display: block;
}

#json-manifest-placeholder .well h3 {
    margin-top: 10.5px;
    margin-bottom: 0px;
    font-size: 19px;
}

#json-manifest-placeholder .well {
    min-height: 0px;
    margin-bottom: 0px;
}

#json-manifest-placeholder > div > .well > div > .well {
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 0px;
}

#json-manifest-placeholder .form-group {
    margin-bottom: 0px;
}

#device-icon-large {
    display: block;
    float: left;
}

#device-icon-large > img {
    display: block;
    width: 160px;
    /* accept non-perfectly square images */
    height: 160px;
    object-fit: contain;
    border-radius: 10px;
    margin-right: 1em;
    margin-bottom: 1em;
}

.device-icon-small > img {
    display: block;
    width: 80px;
    height: 80px;
    object-fit: contain;
    border-radius: 5px;
    margin: 0 auto;
}
