#form {
    margin-top: 1.5em;
    margin-bottom: 1em;
}

#results-container {
    display: none;
}

#menu-block {
    text-align: center;
    margin-bottom: 1em;
}

#code-to-sentence-form {
    padding-top: 0.8em;
}

#first-blurb {
    margin-top: 1em;
}
