# This is an **EXAMPLE** file. Create a copy _without_ the `.EXAMPLE` suffix and
# edit per `TODO` instructions in comments.
# 
# The resulting file will contain information specific to **YOUR**
# instantiation of the application, which may include **SECRETS** such as 
# account credentials.
#
# That file should **NOT** be checked in to source control.
# 
# Almond Cloud PRIVATE Configuration
# ============================================================================

# TODO  Replace `${MYSQL_ROOT_PASSWORD}` with a password of your choosing. It
#       needs to match the `MYSQL_ROOT_PASSWORD` value in the
#       `k8s/db/dev/*.local.yaml` files you create.
DATABASE_URL: mysql://root:${MYSQL_ROOT_PASSWORD}@db.almond-dev.svc.cluster.local/thingengine_dev?charset=utf8mb4_bin

# TODO  Fill in Mailgun SMTP credentials. You can sign up for a free account and
#       use the "sandbox" domain -- just be sure to add and confirm your email
#       address to the "Authorized Recipients".
#       
#       You can find your SMTP credentials in the Mailgun Web UI by visiting
#       
#       https://app.mailgun.com/app/sending/domains
#       
#       Click on the name of the domain you wish to use, then "SMTP". The values
#       are listed as `Username` and `Default password`.
# 
MAILGUN_USER: 
MAILGUN_PASSWORD: 

# TODO  Fill in your email address. If you used a Mailgun "sandbox" domain, this
#       needs to be one of the "Authorized Recipients".
EMAIL_TO_ADMIN: 

# TODO  Generate with
# 
#           openssl rand -hex 32
# 
SECRET_KEY:

# TODO  Generate with
# 
#           openssl rand -hex 16
# 
AES_SECRET_KEY: 

# TODO  Generate with
# 
#           openssl rand -hex 32
# 
JWT_SIGNING_KEY: 

# Thingpedia Skill Extras
# ----------------------------------------------------------------------------
# 
# Variables to set in the Almond _worker_ environments (where Thingpedia skills
# are executed).
# 
# If you are using skills that require additional private configuration you may
# need to provide those values here.
# 
# SEE   src/almond/enginemanager.ts
# 
# EXTRA_ENVIRONMENT:
#   # Used by the `org.thingpedia.covid-vaccine` skill
#   MONGODB_URL: 
#   # Used by the `org.thingpedia.covid-vaccine` skill
#   GOOGLE_API_KEY: 
