# This is an **EXAMPLE** file. Create a copy _without_ the `.EXAMPLE` suffix and
# edit per `TODO` instructions in comments.
# 
# The resulting file will contain information specific to **YOUR**
# instantiation of the application, which may include **SECRETS** such as 
# account credentials.
#
# That file should **NOT** be checked in to source control.
# 
apiVersion: apps/v1
kind: Deployment
metadata:
  name: db
spec:
  template:
    spec:
      containers:
        - name: mariadb
          env:
            - name: MYSQL_ROOT_PASSWORD
              # TODO  Fill in the same `MYSQL_ROOT_PASSWORD` value used in
              #       `k8s/config/dev/secret.yaml`
              value: 
