views/stanford/about_tos.pug
views/stanford/footer.pug
views/stanford/about_get_almond.pug
views/stanford/about_get_involved.pug
views/stanford/about_index.pug
views/stanford/about_privacy.pug
views/stanford/about_use_almond.pug
views/about_privacy.pug
views/about_tos.pug
views/doc_almond-dialog-api-reference.pug
views/doc_getting-started.pug
views/doc_my-api.pug
views/doc_thingpedia-annotations.pug
views/doc_thingpedia-api.pug
views/doc_thingpedia-device-class.pug
views/doc_thingpedia-device-intro-auth-n-discovery.pug
views/doc_thingpedia-device-intro-example-commands.pug
views/doc_thingpedia-device-intro.pug
views/doc_thingpedia-device-with-zero-code.pug
views/doc_thingpedia-error-handling.pug
views/doc_thingpedia-helpers.pug
views/doc_thingpedia-intro.pug
views/doc_thingpedia-nl-support.pug
views/doc_thingpedia-tutorial-cat.pug
views/doc_thingpedia-tutorial-dataset.pug
views/doc_thingpedia-tutorial-js-package.pug
views/doc_thingpedia-tutorial-linkedin.pug
views/doc_thingpedia-tutorial-manifest.pug
views/doc_thingpedia-tutorial-nyt.pug
views/doc_thingpedia-tutorial.pug
views/doc_thingtalk-intro.pug
views/doc_thingtalk-reference.pug
views/error.pug
views/login_required.pug
views/qrcode.pug
views/admin_org_list.pug
views/admin_review_queue.pug
views/public_user_profile.pug
views/thingpedia_cheatsheet.pug
views/doc_thingpedia-tutorial-website-monitor.pug
views/footer.pug
views/doc_installing-almond-cloud.pug
views/doc_almond-config-file-reference.pug
views/doc_genie-intro.pug
views/thingpedia_doc_index.pug
views/2fa_setup.pug
views/admin_blog_archive.pug
views/admin_org_details.pug
views/blog_create_or_edit.pug
views/mturk.pug
views/commandpedia.pug
views/thingpedia_schema.pug
views/about_privacy.pug
views/contact.pug
views/admin_review_queue.pug
views/blog_post.pug
views/commandpedia.pug
views/developer_access_required.pug
views/email_verified.pug
views/password_recovery_continue.pug
views/password_recovery_start.pug
views/public_org_profile.pug
views/thingpedia_device_create_or_edit.pug
views/doc_home-assistant-integration.pug
views/doc_thingpedia-testing.pug
views/doc_thingpedia-cli-tools.pug
views/2fa_login.pug
views/about_index.pug
views/admin_portal.pug
views/admin_user_list.pug
views/blog_archive.pug
views/blog_home_page.pug
views/dev_alexa.pug
views/dev_alexa_model.pug
views/dev_console.pug
views/dev_devices.pug
views/dev_nlp_models.pug
views/dev_oauth.pug
views/dev_overview.pug
views/dev_sidebar.pug
views/dev_train_almond.pug
views/developer_access_ok.pug
views/device_selector.pug
views/devices_create.pug
views/doc_base.pug
views/doc_sidebar.pug
views/luinet_dataset.pug
views/luinet_dataset_list.pug
views/luinet_template_list.pug
views/message.pug
views/mturk-submit.pug
views/my_conversation.pug
views/navbar.pug
views/oauth2_authorize.pug
views/register.pug
views/status.pug
views/thingpedia_entity_list.pug
views/thingpedia_entity_values.pug
views/thingpedia_portal.pug
views/thingpedia_schema.pug
views/thingpedia_snapshot_list.pug
views/thingpedia_string_type_list.pug
views/dev_mturk_batch_list.pug
views/about.pug
views/thingpedia_translate_schema.pug
views/user_profile.pug
views/my_stuff.pug
views/register_success.pug
views/admin_training.pug
views/layout.pug
views/login.pug
views/mturk.pug
views/mturk_batch_list.pug
views/mturk_validate.pug
views/thingpedia_device_details.pug
