views/toc.jade
views/show_app.jade
views/app_shared_installed_already.jade
views/thingpedia_app_view.jade
views/thingpedia_app_list.jade
views/user_profile.jade
views/app_install.jade
views/app_shared_install.jade
views/show_app_results.jade
views/thingpedia_app_create.jade
views/thingpedia_device_create_or_edit.jade
views/thingpedia_schema_edit.jade
views/about.jade
views/admin_user_list.jade
views/thingpedia_dev_portal.jade
views/thingpedia_device_details.jade
views/thingpedia_schema.jade
views/thingpedia_schema_list.jade
views/thingpedia_translate_schema.jade
views/developer_access_ok.jade
views/devices_create.jade
views/doc_getting-started.jade
views/doc_thingpedia-device-intro.jade
views/doc_thingtalk-intro.jade
views/doc_thingtalk-reference.jade
views/error.jade
views/index.jade
views/login.jade
views/login_required.jade
views/navbar.jade
views/oauth2_authorize.jade
views/qrcode.jade
views/register_success.jade
views/status.jade
views/developer_access_required.jade
views/layout.jade
views/train_sabrina.jade
views/my_stuff.jade
views/omlet_register.jade
views/register.jade
