views/admin_training.pug
views/blog_home_page.pug
views/developer_access_required.pug
views/register.pug
views/admin_org_list.pug
views/luinet_dataset.pug
views/proxy_confirmation.pug
views/dev_sidebar.pug
views/blog_archive.pug
views/thingpedia_snapshot_list.pug
views/thingpedia_portal.pug
views/dev_devices.pug
views/about_index.pug
views/admin_org_details.pug
views/luinet_dataset_list.pug
views/register_mixins.pug
views/register_success.pug
views/oauth2_authorize.pug
views/login_required.pug
views/dev_train_almond.pug
views/email_verified.pug
views/thingpedia_entity_list.pug
views/2fa_setup.pug
views/dev_overview.pug
views/admin_blog_archive.pug
views/thingpedia_string_type_list.pug
views/2fa_login.pug
views/thingpedia_cheatsheet.pug
views/mturk-submit.pug
views/dev_alexa_model.pug
views/admin_mturk_batch_list.pug
views/blog_create_or_edit.pug
views/mturk.pug
views/commandpedia.pug
views/thingpedia_schema.pug
views/about_privacy.pug
views/admin_review_queue.pug
views/blog_post.pug
views/thingpedia_entity_values.pug
views/about_tos.pug
views/dev_console.pug
views/status.pug
views/stanford/about_privacy.pug
views/stanford/footer.pug
views/my_conversation.pug
views/password_recovery_start.pug
views/conversation_mixin.pug
views/admin_user_list.pug
views/mturk_validate.pug
views/admin_portal.pug
views/luinet_template_list.pug
views/login.pug
views/public_org_profile.pug
views/device_selector.pug
views/dev_oauth.pug
views/devices_create.pug
views/layout.pug
views/luinet_model_list.pug
views/qrcode.pug
views/message.pug
views/navbar.pug
views/dev_mturk_batch_list.pug
views/thingpedia_translate_schema.pug
views/my_stuff.pug
views/thingpedia_device_details.pug
views/footer.pug
views/thingpedia_device_create_or_edit.pug
views/error.pug
views/dev_alexa.pug
views/thingpedia_doc_index.pug
views/public_user_profile.pug
views/dev_nlp_models.pug
views/developer_access_ok.pug
views/user_profile.pug
views/password_recovery_continue.pug
