views/about.pug
views/developer_access_ok.pug
views/developer_access_required.pug
views/devices_create.pug
views/doc_getting-started.pug
views/doc_my-api.pug
views/doc_thingpedia-api.pug
views/doc_thingpedia-device-intro-auth-n-discovery.pug
views/doc_thingpedia-device-intro.pug
views/doc_thingtalk-intro.pug
views/doc_thingtalk-reference.pug
views/error.pug
views/index.pug
views/layout.pug
views/login.pug
views/login_required.pug
views/my_conversation.pug
views/my_stuff.pug
views/navbar.pug
views/oauth2_authorize.pug
views/qrcode.pug
views/register.pug
views/status.pug
views/thingpedia_dev_portal.pug
views/thingpedia_device_create_or_edit.pug
views/thingpedia_schema_edit.pug
views/toc.pug
views/user_profile.pug
views/about_privacy.pug
views/thingpedia_device_details.pug
views/admin_user_list.pug
views/register_success.pug
views/thingpedia_cheatsheet.pug
views/thingpedia_schema.pug
views/thingpedia_schema_list.pug
views/train_almond.pug
views/thingpedia_translate_schema.pug
