// My variable overrides
@import 'styles/variable_overrides';

// Bootstrap and its default variables
@import 'node_modules/bootstrap/scss/bootstrap';

// Custom styling
h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  a {
    text-decoration: none;
    color: $black;
  }
}
